{% extends 'base.html' %}

{% load staticfiles %}

{% load i18n %}

{% block metainfo %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
<div class="container header-gap main-content">
    <form class="sign-up-consumer-profile-form" id="consumerProfileForm" method="post" action="{% url 'account_consumer_profile_after_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-hoome" type="submit">{% trans "Submit" %}</button>
    </form>
</div>
{% endblock %}