{% extends "dashboard/dashboard.html" %}
{% load staticfiles %}
{% load i18n %}
{% load payment_tag %}

{% block dashboard_content %}
    {% if messages %}
        {% for message in messages %}
            <div{% if message.tags %} class="alert {{ message.tags }} alert-dismissible"{% endif %} role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="page-header">
        <h1>{{ Payment }}</h1>
    </div>
    {% if info_dict.project %}
        <div class="project-detail-wrapper">
            <div class="panel panel-default project-basic-info">
                <div class="panel-heading">
                    {{ Project_Basic_Information }}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <span class="title">{{ Project_Name }}:</span> {{ info_dict.project.project_name }}
                            <br>
                            <span class="title">{{ Client_Name }}:</span> {{ info_dict.project.first_name }} {{ info_dict.project.last_name }}
                            <br>
                            <span class="title">{{ Contracted_With }}:</span>
                            {{ info_dict.project.bus_name }}
                            <br/>
                            <span class="title">{{ Project_Type }}:</span> {{ info_dict.project.get_project_type_display }}
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <span class="title">{{ Start_Date }}:</span> {{ info_dict.project.start_date }}
                            <br/>
                            <span class="title">{{ Project_Status }}:</span> {{ info_dict.project.get_project_status_display }}
                            {% if info_dict.project.end_date is not None %}
                                <br/>
                                <span class="title">{{ Project_Enddate }}:</span> {{ info_dict.project.end_date }}
                            {% endif %}
                            {% if info_dict.project.project_action is not None %}
                                <br/>
                                <span class="title">{{ Project_Action }}:</span> {{ info_dict.project.project_action }}
                            {% endif %}
                            {#payment button#}
                            {#                        {% if request.user.role == "CONSUMER" %}#}

                            {#                        {% elif request.user.role == "PROFESSIONAL" %}#}
                            {#                            <div class="request-wrapper">#}
                            {#                                <form id='request-money' action="" method="post" class="">#}
                            {#                                    {% csrf_token %}#}
                            {#                                    <button class="btn btn-hoome" type="submit" name="request-money"#}
                            {#                                            value="request-money">Request#}
                            {#                                    </button>#}
                            {#                                </form>#}
                            {#        <a href='#request-money' class="btn btn-hoome popup-with-form">Request Money</a>#}
                            {#        <form id='request-money' action="" method="post" class="mfp-hide white-popup-block">#}
                            {#            {% csrf_token %}#}
                            {#            <button class="btn btn-hoome" type="submit" name="request-money" value="request-money">Request#}
                            {#            </button>#}
                            {#        </form>#}
                            {#                            </div>#}
                            {#                        {% endif %}#}

                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="Address col-xs-12 col-md-4">
                            <span class="title">{{ Address }}:</span><br/>
                            {{ info_dict.project.street_address }}{{ info_dict.project.street_address2 }}<br/>
                            {{ info_dict.project.county }}, {{ info_dict.project.state }} {{ info_dict.project.zipcode }}
                        </div>
                        {#        TODO: Add trigger to calculate the cost#}
                        {#            {{ Project_Cost }}: {{ info_dict.project.project_cost }}#}
                        {% if info_dict.project.project_description %}
                            <div class="project-description col-xs-12 col-md-8">
                                <div class="text height">
                                    <span class="title">{{ Project_Description }}:</span> <br/>
                                    {{ info_dict.project.project_description }}
                                </div>
                                <div id="peek" class="link">
                                    <a id="readmore" class="btn btn-db"> <i class="fa fa-chevron-down "> </i></a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>


        </div>
        <div class="payment-wrapper">
            {% render_pay_now_button info_dict.project.project_uuid %}
        </div>
        <script>
            var curHeight = $('.project-description .text').height();
            if (curHeight >= 100) {
                $('#readmore').show();
            }
            else {
                $('#readmore').hide();
                $('#peek').removeClass('link');
            }

            function readMore() {
                var readmore = $('#readmore');
                if (readmore.find('i.fa-chevron-down').length !== 0) {
                    readmore.html('<i class="fa fa-chevron-up"> </i>');
                    $('#peek').removeClass('link');
                } else {
                    readmore.html('<i class="fa fa-chevron-down"> </i>');
                    $('#peek').addClass('link');
                }
                $('.height').toggleClass("heightAuto");
            }

            $(document).ready(function () {

                $('#readmore').click(function () {
                    readMore();
                });
            })
        </script>
    {% else %}
        <div>
            <p>{% blocktrans %}You don't have any project to pay right now. Please create a new
                project.{% endblocktrans %}</p>
        </div>
    {% endif %}


{% endblock %}

