{% load search_extras %}
{% load i18n %}
{% trans "License #" as License_num %}
{% trans "License Type" as License_Type %}
<div id="searchListCard{{ professional.uuid }}"
     class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
        {# TODO: make sure the counter is correct#}
        <h5 class="mb-1">
            {{ forloop.counter }}
            <!--{{ professional.type|lower }}-->
            <a href="{% url 'professional'|lower professional.uuid %}">
                {{ professional.name }}
            </a>
        </h5>
    {{ License_Type }}: {{ professional.type }}</div>
    <!--TODO: validate to_list tag-->
    <span class="mb-1">{{ License_Status }}: </span>

    {% if professional.lic_status == "Expired" or professional.lic_status == "Cancelled" or professional.lic_status == "Canceled" or professional.lic_status == "Revoked" or professional.lic_status == "Under Suspension" or professional.lic_status == "Inactive" or professional.lic_status == "Inactive and Under Suspension" %}
        <span class="red"> {{ professional.lic_status }}</span>
    {% else %}
        <span> {{ professional.lic_status }}</span>
    {% endif %}
    </br>
    {% if professional.score %}
            {{ Score }}:  {{ professional.score }} </br>
    {% endif %}

    {{ Address }}:
    <br/>
    {{ professional.address1 }}{% if professional.address2 %}, {{ professional.address2 }} {% endif %}
    {% if professional.csp %}<br/> {{ professional.csp }} {% endif %} <br/>
</div>