{% extends "dashboard/dashboard.html" %}
{% load i18n %}


{% block dashboard_content %}
    <div class="container-consumer-profile">
        <h2 class="section-title">{{ Profile }}</h2>
        <form class="consumer-profile-form" id="consumerProfileEditForm" method="post"
              action="{% url 'account_consumer_profile' %}">
            {% csrf_token %}
            <label for="id_hoome_id">Hoome id:</label> <span id="id_hoome_id">{{ user.hoome_id }}</span>
            {{ form.as_p }}
            <button class="btn btn-hoome" type="submit">{% trans "Submit" %}</button>
        </form>
    </div>
{% endblock %}