.coverage
.cache/
.DS_Store
.idea/
.vagrant/
*.pyc
env/
venv/
db.sqlite3
#/backend_core/*/migrations/*
!__init__.py
*.log
/venv/
/backend_core/www/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/.elasticbeanstalk/

/backend_core/media/photos/background/*.jpg
/backend_core/media/photos/background/*.jpeg
/backend_core/media/photos/photos/*.jpg
/backend_core/media/photos/photos/*.jpeg