.coverage
.cache/
.DS_Store
.idea/
.vagrant/
*.pyc
env/
venv/
db.sqlite3
/backend_core/*/migrations/
*.log
/venv/
/.ebextensions/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/.elasticbeanstalk/
