{% extends "base.html" %}
{% load i18n %}
{% block metainfo %}
    <style>
        .header {
            background-color: #6892D5;
        }

        .header.active {
            background-color: #6892D5;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container header-gap">
        <div class="row">
            <form action="" method="post" enctype="multipart/form-data">
                <label for="id_img">{% trans "Background Images" %}:</label>
                <input type="file" name="img" required="" id="id_img">
                {% csrf_token %}
                <br/>
                <button type="sumbit" class="btn btn-hoome">{{ Submit }} </button>
            </form>
        </div>
    </div>
{% endblock %}