{% extends "dashboard/dashboard.html" %}
{% load staticfiles %}
{% load i18n %}
{% load payment_tag %}

{% block dashboard_content %}
    {% if messages %}
        {% for message in messages %}
            <div{% if message.tags %} class="alert {{ message.tags }} alert-dismissible"{% endif %} role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="page-header">
        <h1>{{ Project_Detail }}</h1>
    </div>

    <div class="project-detail-wrapper">
        <div class="panel panel-default project-basic-info">
            <div class="panel-heading">
                {{ Project_Basic_Information }}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <span class="title">{{ Project_Name }}:</span> {{ info_dict.project.project_name }}
                        <br>
                        <span class="title">{{ Client_Name }}:</span> {{ info_dict.project.first_name }} {{ info_dict.project.last_name }}
                        <br>
                        <span class="title">{{ Contracted_With }}:</span>
                        {{ info_dict.project.bus_name }}
                        <br/>
                        <span class="title">{{ Project_Type }}:</span> {{ info_dict.project.get_project_type_display }}
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <span class="title">{{ Start_Date }}:</span> {{ info_dict.project.start_date }}
                        <br/>
                        <span class="title">{{ Project_Status }}:</span> {{ info_dict.project.get_project_status_display }}
                        {% if info_dict.project.end_date is not None %}
                            <br/>
                            <span class="title">{{ Project_Enddate }}:</span> {{ info_dict.project.end_date }}
                        {% endif %}
                        {% if info_dict.project.project_action is not None %}
                            <br/>
                            <span class="title">{{ Project_Action }}:</span> {{ info_dict.project.project_action }}
                        {% endif %}
                        {#payment button#}
                        {#                        {% if request.user.role == "CONSUMER" %}#}
                        <div class="payment-wrapper">
                            {% render_pay_now_button info_dict.project.project_id %}
                        </div>
                        {#                        {% elif request.user.role == "PROFESSIONAL" %}#}
                        {#                            <div class="request-wrapper">#}
                        {#                                <form id='request-money' action="" method="post" class="">#}
                        {#                                    {% csrf_token %}#}
                        {#                                    <button class="btn btn-hoome" type="submit" name="request-money"#}
                        {#                                            value="request-money">Request#}
                        {#                                    </button>#}
                        {#                                </form>#}
                        {#        <a href='#request-money' class="btn btn-hoome popup-with-form">Request Money</a>#}
                        {#        <form id='request-money' action="" method="post" class="mfp-hide white-popup-block">#}
                        {#            {% csrf_token %}#}
                        {#            <button class="btn btn-hoome" type="submit" name="request-money" value="request-money">Request#}
                        {#            </button>#}
                        {#        </form>#}
                        {#                            </div>#}
                        {#                        {% endif %}#}

                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="Address col-xs-12 col-md-4">
                        <span class="title">{{ Address }}:</span><br/>
                        {{ info_dict.project.street_address }}{{ info_dict.project.street_address2 }}<br/>
                        {{ info_dict.project.county }}, {{ info_dict.project.state }} {{ info_dict.project.zipcode }}
                    </div>
                    {#        TODO: Add trigger to calculate the cost#}
                    {#            {{ Project_Cost }}: {{ info_dict.project.project_cost }}#}
                    {% if info_dict.project.project_description %}
                        <div class="project-description col-xs-12 col-md-8">
                            <div class="text height">
                                <span class="title">{{ Project_Description }}:</span> <br/>
                                {{ info_dict.project.project_description }}
                            </div>
                            <div id="peek" class="link">
                                <a id="readmore" class="btn btn-db"> <i class="fa fa-chevron-down "> </i></a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>


        {#        TODO: need to write ajax for this in the future and overflow button #}

        {% if info_dict.project_attachments %}
            <div class="panel panel-default project-attachments">
                <div class="panel-heading">
                    {{ Project_Attachment }}
                </div>
                <div class="panel-body">
                    <div class="desktop">
                        <table>
                            <tr>
                                <th>{{ Name }}</th>
                                <th>{{ Type }}</th>
                                <th>{{ Time }}</th>
                            </tr>
                            {% for attachment in info_dict.project_attachments %}
                                <tr>
                                    <td>
                                        <a class="project-attachment" target="_blank"
                                           href="{{ attachment.project_attachment.url }}">{{ attachment.title }}</a>
                                    </td>
                                    <td>
                                        {{ attachment.attachment_type }}
                                    </td>
                                    <td>
                                        {{ attachment.uploaded_at|date:"M d, Y" }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="mobile">
                        {% for attachment in info_dict.project_attachments %}
                            <ul>
                                <li><span class="title">{{ Name }}</span>: <a class="project-attachment" target="_blank"
                                                                              href="{{ attachment.project_attachment.url }}">{{ attachment.title }}</a>
                                </li>
                                <li><span class="title">{{ Type }}</span>: {{ attachment.attachment_type }}</li>
                                <li><span class="title">{{ Time }}</span>: {{ attachment.uploaded_at|date:"M d, Y" }}
                                </li>
                            </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if info_dict.project_photos %}
            <div class="panel panel-default project-photos">
                <div class="panel-heading">
                    {{ Project_Photo }}
                </div>
                <div class="panel-body">
                    <div id="photo-gallery" class="popup-gallery">
                        {% for photo in info_dict.project_photos %}
                            <a href="{{ photo.project_photo.url }}" title="{{ photo.project_photo.title }}">
                                <img class="project-photo" src="{{ photo.project_photo.url }}"></a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if info_dict.transactions %}
            <div class="panel panel-default project-transactions">
                <div class="panel-heading">
                    {{ Project_Transaction }}
                </div>
                <div class="panel-body">
                    <table>
                        <tr>
                            <th>{{ Amount }}</th>
                            <th>{{ Status }}</th>
                            <th>{{ Updated_At }}</th>
                        </tr>
                        {% for transaction in info_dict.transactions %}
                            <tr>
                                <td>{{ transaction.amount }}</td>
                                <td>{{ transaction.get_status_display }}</td>
                                <td>{{ transaction.updated_at }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
    {#        <a href="{% url 'display_project_detail' info_dict.project.project_id %}">detail</a>#}
    <script>
        var curHeight = $('.project-description .text').height();
        if (curHeight >= 100) {
            $('#readmore').show();
        }
        else {
            $('#readmore').hide();
            $('#peek').removeClass('link');
        }

        function readMore() {
            var readmore = $('#readmore');
            if (readmore.find('i.fa-chevron-down').length !== 0) {
                readmore.html('<i class="fa fa-chevron-up"> </i>');
                $('#peek').removeClass('link');
            } else {
                readmore.html('<i class="fa fa-chevron-down"> </i>');
                $('#peek').addClass('link');
            }
            $('.height').toggleClass("heightAuto");
        }

        $(document).ready(function () {

            $('#readmore').click(function () {
                readMore();
            });

            {#        $('.popup-with-form').magnificPopup({#}
            {#            type: 'inline',#}
            {#            preloader: true,#}
            {#            focus: '.request-money',#}
            {##}
            {#            // When elemened is focused, some mobile browsers in some cases zoom in#}
            {#            // It looks not nice, so we disable it:#}
            {#            callbacks: {#}
            {#                beforeOpen: function () {#}
            {#                    if ($(window).width() < 700) {#}
            {#                        this.st.focus = false;#}
            {#                    } else {#}
            {#                        this.st.focus = '.request-money';#}
            {#                    }#}
            {#                }#}
            {#            }#}
            {#        });#}

            $('#photo-gallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                tLoading: 'Loading image #%curr%...',
                mainClass: 'mfp-img-mobile',
                fixedContentPos: true,
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
                },
                image: {
                    tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                    titleSrc: function (item) {
                        return item.el.attr('title');
                        {#                                    return item.el.attr('title') + '<small>by Marsel Van Oosten</small>';#}
                    }
                }
            });
        })
    </script>

{% endblock %}