{% extends "contractor/contractor.html" %}
{% load staticfiles %}
{% load i18n %}
{% block metainfo %}
    <link rel="stylesheet" href="{% static 'css/contractor.css' %}">
    <style>
        .main {
            margin-top: 100px;
            margin-bottom: 10%;
        }
    </style>
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
    <div class="main container">
        <form method="post" enctype="multipart/form-data" action="{% if not user.is_authenticated %}{% url "display_project_overview" %}{% endif %}">
            {% csrf_token %}
            {{ info_dict.project_form.as_p }}
            {#TODO: need to change the outlook of attachment type#}
            <br/>
            <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="g-recaptcha" data-sitekey="6LdWazUUAAAAAFcK-GyEJGerzK1pRY4G15JyVyh0"></div>
            <br/>
            <button class="btn btn-hoome" type="submit" value="submit" name="submit">{% trans 'Create' %}</button>
        </form>
    </div>
{% endblock %}