{% extends "contractor/contractor.html" %}
{% load staticfiles %}
{% load i18n %}
{% load account socialaccount %}
{% block metainfo %}
    <link rel="stylesheet" href="{% static 'css/contractor.css' %}">
    <style>
        .main {
            margin-top: 100px;
            margin-bottom: 10%;
        }
    </style>
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
    <div class="main container">
        <form method="post" enctype="multipart/form-data"
              action="">
            {% csrf_token %}

            <p><label for="id_identity_0">Who you are?</label></p>
            <ul id="id_identity">
                <li><label for="id_identity_0"><input type="radio" name="identity" value="PROFESSIONAL" required=""
                                                      id="id_identity_0">
                    Professional</label>

                </li>
                <li><label for="id_identity_1"><input type="radio" name="identity" value="CONSUMER" required=""
                                                      id="id_identity_1">
                    Consumer</label>

                </li>
            </ul>
            <p></p>
            <div class="professional_hoome_id_wrapper hide">
                <p><label for="id_professional_hoome_id">Professional Hoome ID:</label> <input type="text"
                                                                                               name="professional_hoome_id"
                                                                                               id="id_professional_hoome_id">
                </p></div>
            <div class="homeowner_hoome_id_wrapper hide">
                <p><label for="id_homeowner_hoome_id">Homeowner Hoome ID:</label> <input type="text"
                                                                                         name="homeowner_hoome_id"
                                                                                         id="id_homeowner_hoome_id"></p>
            </div>
            <p><label for="id_project_name">Project Name:</label> <input type="text" name="project_name" required=""
                                                                         id="id_project_name" maxlength="100"></p>
            <p><label for="id_first_name">Your First Name:</label> <input type="text" name="first_name" required=""
                                                                          id="id_first_name" maxlength="64"></p>
            <p><label for="id_last_name">Your Last Name:</label> <input type="text" name="last_name" required=""
                                                                        id="id_last_name" maxlength="64"></p>
            <p><label for="id_project_type">Project Type:</label> <select name="project_type" id="id_project_type">
                <option value="" selected="">N/A</option>

                <option value="R">REMODEL</option>

                <option value="N">NEW BUILT HOUSE</option>

            </select></p>
            <p><label for="id_street_address">Street Address:</label> <input type="text" name="street_address"
                                                                             required=""
                                                                             id="id_street_address"></p>
            <p><label for="id_street_address2">Street address2:</label> <input type="text" name="street_address2"
                                                                               placeholder="Apt #,Suite #,..."
                                                                               id="id_street_address2"></p>
            <p><label for="id_county">County/City:</label> <input type="text" name="county" required="" id="id_county"
                                                                  maxlength="64"></p>
            <p><label for="id_state">State:</label> <input type="text" name="state" required="" id="id_state"
                                                           maxlength="64"></p>
            <p><label for="id_zipcode">Zip Code:</label> <input type="text" name="zipcode" required="" id="id_zipcode"
                                                                maxlength="10"></p>
            <p><label for="id_start_date_month">Start Date:</label> <select name="start_date_month" required=""
                                                                            id="id_start_date_month">
                <option value="1">January</option>

                <option value="2">February</option>

                <option value="3">March</option>

                <option value="4">April</option>

                <option value="5">May</option>

                <option value="6">June</option>

                <option value="7">July</option>

                <option value="8">August</option>

                <option value="9">September</option>

                <option value="10">October</option>

                <option value="11">November</option>

                <option value="12" selected="">December</option>

            </select>
                <select name="start_date_day" required="" id="id_start_date_day">
                    <option value="1">1</option>

                    <option value="2">2</option>

                    <option value="3">3</option>

                    <option value="4">4</option>

                    <option value="5" selected="">5</option>

                    <option value="6">6</option>

                    <option value="7">7</option>

                    <option value="8">8</option>

                    <option value="9">9</option>

                    <option value="10">10</option>

                    <option value="11">11</option>

                    <option value="12">12</option>

                    <option value="13">13</option>

                    <option value="14">14</option>

                    <option value="15">15</option>

                    <option value="16">16</option>

                    <option value="17">17</option>

                    <option value="18">18</option>

                    <option value="19">19</option>

                    <option value="20">20</option>

                    <option value="21">21</option>

                    <option value="22">22</option>

                    <option value="23">23</option>

                    <option value="24">24</option>

                    <option value="25">25</option>

                    <option value="26">26</option>

                    <option value="27">27</option>

                    <option value="28">28</option>

                    <option value="29">29</option>

                    <option value="30">30</option>

                    <option value="31">31</option>

                </select>
                <select name="start_date_year" required="" id="id_start_date_year">
                    <option value="2017" selected="">2017</option>

                    <option value="2018">2018</option>

                    <option value="2019">2019</option>

                    <option value="2020">2020</option>

                    <option value="2021">2021</option>

                    <option value="2022">2022</option>

                    <option value="2023">2023</option>

                    <option value="2024">2024</option>

                    <option value="2025">2025</option>

                    <option value="2026">2026</option>

                </select></p>
            <p><label for="id_end_date_month">End Date:</label> <select name="end_date_month" required=""
                                                                        id="id_end_date_month">
                <option value="1">January</option>

                <option value="2">February</option>

                <option value="3">March</option>

                <option value="4">April</option>

                <option value="5">May</option>

                <option value="6">June</option>

                <option value="7">July</option>

                <option value="8">August</option>

                <option value="9">September</option>

                <option value="10">October</option>

                <option value="11">November</option>

                <option value="12">December</option>

            </select>
                <select name="end_date_day" required="" id="id_end_date_day">
                    <option value="1">1</option>

                    <option value="2">2</option>

                    <option value="3">3</option>

                    <option value="4">4</option>

                    <option value="5">5</option>

                    <option value="6">6</option>

                    <option value="7">7</option>

                    <option value="8">8</option>

                    <option value="9">9</option>

                    <option value="10">10</option>

                    <option value="11">11</option>

                    <option value="12">12</option>

                    <option value="13">13</option>

                    <option value="14">14</option>

                    <option value="15">15</option>

                    <option value="16">16</option>

                    <option value="17">17</option>

                    <option value="18">18</option>

                    <option value="19">19</option>

                    <option value="20">20</option>

                    <option value="21">21</option>

                    <option value="22">22</option>

                    <option value="23">23</option>

                    <option value="24">24</option>

                    <option value="25">25</option>

                    <option value="26">26</option>

                    <option value="27">27</option>

                    <option value="28">28</option>

                    <option value="29">29</option>

                    <option value="30">30</option>

                    <option value="31">31</option>

                </select>
                <select name="end_date_year" required="" id="id_end_date_year">
                    <option value="2017">2017</option>

                    <option value="2018">2018</option>

                    <option value="2019">2019</option>

                    <option value="2020">2020</option>

                    <option value="2021">2021</option>

                    <option value="2022">2022</option>

                    <option value="2023">2023</option>

                    <option value="2024">2024</option>

                    <option value="2025">2025</option>

                    <option value="2026">2026</option>

                </select></p>
            <p><label for="id_project_description">Project Description:</label> <textarea name="project_description"
                                                                                          rows="10"
                                                                                          placeholder="(Optional) Please briefly describe your project"
                                                                                          cols="40"
                                                                                          id="id_project_description"></textarea>
            </p>
            <p><label for="id_attachment_type">Attachment Type:</label> <input type="text" name="attachment_type"
                                                                               id="id_attachment_type" maxlength="64">
            </p>
            <p><label for="id_project_attachment">Project attachment:</label> <input type="file"
                                                                                     name="project_attachment"
                                                                                     multiple=""
                                                                                     id="id_project_attachment">
            </p>
            <p><label for="id_project_photo">Project photo:</label> <input type="file" name="project_photo" multiple=""
                                                                           id="id_project_photo"></p>
            <br>

            <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="g-recaptcha" data-sitekey="6LdWazUUAAAAAFcK-GyEJGerzK1pRY4G15JyVyh0"></div>
            <br/>
            <button class="btn btn-hoome" type="submit" value="submit" name="submit">{% trans 'Create' %}</button>
        </form>
    </div>>
    <script>
        $(document).ready(function () {
            var identity;

            function check_identity() {
                if ($("#id_identity_0").is(':checked')) {
                    $(".homeowner_hoome_id_wrapper").removeClass('hide');
                    if (!$(".professional_hoome_id_wrapper").hasClass('hide')) {
                        $(".professional_hoome_id_wrapper").addClass('hide');
                    }
                    identity = $("#id_identity_0").val();
                }

                if ($("#id_identity_1").is(':checked')) {
                    $(".professional_hoome_id_wrapper").removeClass('hide');
                    if (!$(".homeowner_hoome_id_wrapper").hasClass('hide')) {
                        $(".homeowner_hoome_id_wrapper").addClass('hide');
                    }
                    identity = $("#id_identity_1").val();
                }
            }

            check_identity();
            $("#id_identity input").click(function () {
                check_identity();
            })

            $("button.btn.btn-hoome").click(function () {
                if (!(localStorage.getItem("role") === null)) {
                    localStorage.removeItem("role");
                }
                localStorage.setItem("role", identity);
            });
        })

    </script>
{% endblock %}