{% extends "dashboard/dashboard.html" %}
{% load staticfiles %}
{% load i18n %}


{% block dashboard_content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ info_dict.form.as_p }}
        <br/>
{#        <script src='https://www.google.com/recaptcha/api.js'></script>#}
{#        <div class="g-recaptcha" data-sitekey="6LdWazUUAAAAAFcK-GyEJGerzK1pRY4G15JyVyh0"></div>#}
        
        <button class="btn btn-hoome" type="submit" value="submit" name="submit">{% trans 'Upload' %}</button>
    </form>
{% endblock %}