{% load i18n %}
{% trans 'Make a payment' as Pay %}
<script type="text/javascript" src="https://sandbox.forte.net/checkout/v1/js"></script>
{#<script type="text/javascript" src="https://checkout.forte.net/v1/js"></script>#}
<style>
    .fortebtn {
        background-color: #6892D5
    }
</style>
<button class="forte-checkout-button btn btn-hoome" id="payment-btn-{{ order_number }}"
        api_login_id="{{ api_login_id }}"
        method="{{ method }}"
        allowed_methods="{{ allowed_methods }}"
        version_number="{{ version_number }}"
        utc_time="{{ utc_time }}"
        hash_method="{{ hash_method }}"
        signature="{{ signature }}"
        callback="oncallback"
        total_amount="{{ total_amount }}"
        order_number="{{ order_number }}"
        billing_company_name_attr='{{ billing_company_name }}'
        project_uuid="{{ project_uuid }}"
        milestone_uuid="{{ milestone_uuid }}">
    {{ Pay }}
</button>