packages:
  yum:
    git: []
    libjpeg-turbo-devel: []

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python backend_core/manage.py makemigrations --noinput && python backend_core/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python backend_core/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "python backend_core/managy.py collectstatic --noinput"
