option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: backend_core/backend_core/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "s3-us-west-2.amazonaws.com/hoomeincstatic/static/"
    "/media/": "s3-us-west-2.amazonaws.com/hoomeincstatic/media/"
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: backend_core.settings.prod
    ALLOWED_HOSTS: ".elasticbeanstalk.com"
    RDS_HOSTNAME: "ebdb.cpqxzirsz2nd.us-west-2.rds.amazonaws.com"
    RDS_PORT: "3306"
    RDS_DB_NAME: "ebdb"
    RDS_USERNAME: "hoome"
    RDS_PASSWORD: "hoome2017"
