{% block seach_bar %}
<div class="row">
    <form class="form" action="/search" method="get">
        <!--{% for error in form.non_field_errors %}-->
        <!--<div class="form-group has-errors text-danger small">-->
            <!--{{error}}-->
        <!--</div>-->
        <!--{% endfor %}-->
        <div class="form-row align-items-center">
            <div class="col-4">
                <label class="sr-only"
                       for="inlineFormInputSearchTargetType">
                    Target Type
                </label>
                <input type="text"
                       class="form-control"
                       name="target"
                       id="inlineFormInputSearchTargetType"
                       placeholder="For example: Designer">
            </div>
            <!--TODO: add keywords later-->
            <!--<div class="col-4">-->
                <!--<label class="sr-only"-->
                       <!--for="inlineFromInputSearchKeywords">-->
                    <!--Keywords-->
                <!--</label>-->
                <!--<input type="text"-->
                       <!--class="form-control"-->
                       <!--name="keywords"-->
                       <!--id="inlineFromInputSearchKeywords"-->
                       <!--placeholder="Description ">-->
            <!--</div>-->
            <div class="col-2">
                <label class="sr-only"
                       for="inlineFromInputSearchLocation">Zip Code</label>
                <input type="text"
                       class="form-control"
                       name="zipcode"
                       id="inlineFromInputSearchLocation"
                       placeholder="Zipcode or County"
                       autocomplete="postal-code">
            </div>
            <div class="col-2">
                <button class="btn btn-default" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>


    <!--<h2>Search</h2>-->
    <!--{% csrf_token %}-->
    <!--<input type="text" class="form-control" name="searchTargetType" id="inlineFormInputSearchTargetType" placeholder="For example: Designer" />-->
    <!--<ul id="contractor-search-results">-->
    <!---->
    <!--</ul>-->

{% endblock %}