body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    width: auto;
    box-sizing: border-box;
}

#contractor-content {
    margin: 5px;
    padding: 0 5%;
    min-height: 80%;
}

#masthead, .footer, #contractor-content {
    box-sizing: border-box;
    width: auto;
}

.footer .row {
    margin: 0;
    padding: 0;
}

/*********************rating star in review to pick ****************/

fieldset, label {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    margin: 10px;
    font-weight: 600;
}

/****** Style Star Rating Widget *****/
.rating-name {
    clear: both;
}

.rating {
    border: none;
    float: left;
}

.rating > input {
    display: none;
}

.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
    color: #FFD700;
}

/* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
    color: #FFED85;
}

/*********************** masthead **********************/

#masthead {
    margin: 0;
    padding: 0;
    color: black;
}

#masthead a, #masthead .lead {
    color: #ffffff;
}

@media screen and (min-width: 768px) {
    #masthead h1 {
        font-size: 100px;
    }
}

#masthead h1 {
    font-size: 55px;
    line-height: 1;
}

#masthead .well {
    color: white;
    margin-top: 13%;
    background-color: rgba(51, 102, 204, 0.5);
}

#masthead .row {
    width: auto; /**/
    /*padding: 0px;*/
    /*margin: 0px;*/
}

#masthead .head-info {
    padding-left: 0px;
}

/* other information*/
.horizontal-list ul {
    type: None;
    display: table;
    table-layout: fixed;
}

.horizontal-list ul li {
    display: table-cell;
    padding: 0px 20px;
}

/*TODO: need to check the more button*/

/*main tables to do*/
#summary {
    padding-left: 0px;
    padding-bottom: 20px;
}

#BasicInfo {
    padding-right: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#BasicInfo table tr {
    vertical-align: top;
}

#BasicInfo table td {
    font-size: 1px;
}

#BasicInfo table {
    border-collapse: separate;
    border-spacing: 10px 0px;
}

/*#BasicInfo .panel, #photo .panel, #review .panel {*/
/*border-radius: 0px;*/
/*}*/

#BasicInfo .panel-heading, #photo .panel-heading, #review .panel-heading {
    background-image: none;
    background-color: white;
}

/*** set the side of container ***/
#mainbody {
    margin: auto 50px;
}

/*#left-col, #right-col {*/
/*padding-right: 15px;*/
/*}*/

/*#mid-col {*/
/*padding-left: 15px;*/
/*padding-right: 15px;*/
/*}*/

.navbar-bright {
    background-color: black;
}

/*pro menu */
#pro-menu .nav {
    display: flex;
}

#pro-content .container {
    margin: 0px;
    padding: 0px;
}

/*.navbar-bright {*/
/*background-color: black;*/

/*}*/

/*.video-content-wrapper  img {*/
/*width: 100%;*/
/*height: 100%;*/
/*}*/



/**/

@media (min-width: 768px) {

    #contractor-content {
        margin: 0 5%;
    }

    .container {
        margin: 0px;
        padding: 0px;
        width: auto;
        box-sizing: border-box;
    }

    /*TODO:don't change or delete below*/
    /*.wrapper {*/
    /*position: static;*/
    /*zoom: 1;*/
    /*}*/
    /*.wrapper li {*/
    /*list-style-type: none;*/
    /*}*/
    /*.wrapper img {*/
    /*height: 180px;*/
    /*max-width: none;*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    /*filter: brightness(90%);*/
    /*}*/
    /*.img-item {*/
    /*margin-top: 30px;*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);*/
    /*height: 180px;*/
    /*width: calc(25% - 10px);*/
    /*overflow: hidden;*/
    /*}*/

}

@media (max-width: 767px) {
    .container {
        margin: 0px;
        padding: 0px;
        width: auto;
    }

    .horizontal-list ul li {
        font-size: 0.75em;
        padding: 5px;
        display: block;
    }

    .menu .nav li a {
        padding: auto 5px;
    }

    .menu .nav .nav-item:first-child a {
        padding-left: 0px;
    }

    .menu .nav .nav-item:last-child a {
        padding-right: 15px;
    }

    #masthead .container {
        margin: 0 7.5%;
    }

    #BasicInfo {
        width: 100%;
    }

    #summary {
        width: auto;
    }

    #BasicInfo {
        padding-left: 0px;
    }

    #Review {
        padding-left: 0px;
        padding-right: 0px;
        /*padding: auto 0px;*/
    }

    #photo {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        /*position: relative;*/
    }

}

/*photos*/
#photo {
    height: 310px;
    margin-bottom: 50px;
}

#photo .panel, #review .panel, #BasicInfo .panel {
    /*height: 100%;*/
    border: none;
    box-shadow: none;

}

#photo .panel-heading {
    margin-bottom: 75px;
}

#photo .panel-body {
    padding: 0px;
}

.project-carousel {
    position: relative;
    padding: 0;
}

.project-strip .project {
    cursor: pointer;
}

/*// Project Strip*/
.project-strip {
    margin: 0px;
    height: 150px;
    filter: blur(10px);

}

.project-strip img {
    width: 210px;
    height: 150px;
}

.project-screen img {
    max-width: 100%;
    width: 300px;
    height: 250px;

}

/*// Project Details*/
.project-screen {
    width: 400px;
    height: 250px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /*margin-top: 0px;*/
}

/*// Project Detail Carousel    */
.project-screen .project-detail {
    position: absolute;
    left: 0;
    right: 0;
    width: 300px;
    height: 250px;
    margin: 0;
    z-index: 1;

    background-color: white;
}

.project-screen .project {
    margin-right: -100%;
    float: left;
    cursor: move;
}

@media (max-width: 480px) {
    #photo {
        height: 250px;
        margin-bottom: 50px;
    }

    .project-strip {
        margin: 0px;
        height: 50px;
        filter: blur(10px);

    }

    .project-strip img {
        width: 70px;
        height: 50px;
    }

    .project-screen img {
        max-width: 100%;
        width: 150px;
        height: 120px;

    }

    /*// Project Details*/
    .project-screen {
        width: 150px;
        height: 120px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        /*margin-top: 0px;*/
    }

    /*// Project Detail Carousel    */
    .project-screen .project-detail {
        position: absolute;
        left: 0;
        right: 0;
        width: 150px;
        height: 120px;
        margin: 0;
        z-index: 1;
        background-color: white;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    #photo {
        height: 290px;
        margin-bottom: 50px;
    }

    .project-strip {
        margin: 0px;
        height: 150px;
        filter: blur(10px);
    }

    .project-strip img {
        width: 210px;
        height: 150px;
    }

    .project-screen img {
        max-width: 100%;
        width: 300px;
        height: 240px;
    }

    /*// Project Details*/
    .project-screen {
        width: 300px;
        height: 240px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        /*margin-top: 0px;*/
    }

    /*// Project Detail Carousel    */
    .project-screen .project-detail {
        position: absolute;
        left: 0;
        right: 0;
        width: 300px;
        height: 240px;
        margin: 0;
        z-index: 1;
        background-color: white;
    }
}

.user-review {
    position: relative;
}

#review .user-rating {
    position: absolute;
    top: 0px;
    right: 0px;
}

#photo .panel-heading a.viewmore {
    border: none;
}

#photo .panel-heading a.viewmore:active {
    background: none;
    border: none;
}

#review a.viewmore {
    border: none;
}

#review a.viewmore:active {
    background: none;
    border: none;
}

.text {
    overflow: hidden;
}

.height {
    max-height: 350px;
}

.heightAuto {
    max-height: none;
}

#summary .link {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 30px 0;

    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: linear-gradient(to bottom, transparent, white);
}

.nonlink {
    position: relative;
    width: auto;
    bottom:inherit;
    left:inherit;
    text-align: left;
    padding:auto;
    background-image:none;
}