.main {
    margin-top: 100px;
    margin-bottom: 10%;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.form-horizontal ul li {
    list-style-type: none;
}

.section-title {
    font-family: Roboto;
    font-size: 2em;
    margin-bottom: 12px;
    margin-left: 0px;
}

.form-horizontal .control-label {
    text-align: left;
}

.form-horizontal .col-sm-10 {
    padding-left: 10px;
}

#milestone .btn.btn-default {
    padding: 0 12px;
    height: 34px;
}

#milestone tr td:first-of-type, #milestone tr th:first-of-type {
    width: 160px;
}