
.header {
    background-color: #6892D5;
}

.header .navbar .logo.cursive {
    color: #ffffff;
}

.menu-side ul li {
    list-style-type: none;
    border-top: 1px solid rgb(230, 230, 230);
    padding: 12px;
}

.menu-side ul li:last-child {
    border-bottom: 1px solid rgb(230, 230, 230);
}

.menu-dropdown ul li {
    list-style-type: none;
    border-top: 1px solid rgb(230, 230, 230);
    padding: 12px;
}

.menu-dropdown ul li:last-child {
    border-bottom: 1px solid rgb(230, 230, 230);
}

.form-section-container {
    padding-bottom: 20px;
}

.section-title {
    color: #6892D5;
    font-weight: 900;
    border-bottom: 1px solid #e6e6e6;
}

.form-title {
    font-weight: 900;
    border-bottom: 1px solid #e6e6e6;
}

.form-section-container input {
    max-width: 465px;
    min-width: 285px;
    height: 30px;
}

.menu-dropdown .account-setting-header span, .menu-side .account-setting-header span {
    font-size: 24px;
}

#account-setting-collapse-button {
    float: right;
    padding-right: 10px;
}

.show {
    display: block;
}

#account-settings-content-dropdown {
    display: none;
}

#id_professional_subtype, #id_professional_type, #id_entity_type {
    list-style-type: None;
}

#id_license_num, #id_company_name {
    border: 0px;
}

#id_professional_type li label, #id_professional_subtype li label, #id_entity_type li label {
    font-weight: normal;
}

#consumerProfileEditForm input, .password_change input {
    max-width: 465px;
    min-width: 285px;
    height: 30px;
}

#id_email {
    height: 30px;
}

.unverified {
    color: red;
}

.verified {
    color: green;
}

.buttonHolder button {
    margin: 5px;
}

#account-settings-content-dropdown {
    background-color: #e6e6e6;
    padding: 24px 0;
}

#account-settings-content-dropdown ul {
    margin: 0px;
}

#account-settings-content-dropdown ul {
    background-color: #ffffff;
}

.link {
    width: 100%;
}

@media (max-width: 767px ) {
    .menu-side {
        display: none;
    }

    .menu-dropdown {
        padding-left: 0;
        padding-right: 0;
    }

    #dropdown {
        padding-left: 0;
        padding-right: 0;
    }

    .account-setting-header {
        border-top: 1px solid rgb(230, 230, 230);
        border-bottom: 1px solid rgb(230, 230, 230);
        padding: 6px 0px 6px 15px;
    }

    .dashboard-content {
        margin-top: 20px;
    }
}

@media (min-width: 768px) {
    .menu-dropdown {
        display: none;
    }
}

.footer {
    position: relative;
}

html, body {
    min-height: 100%;
}

.main-content {
    display: block;
    margin-bottom: 50px;

    min-height: -webkit-calc(100vh - 170px);
    min-height: -moz-calc(100vh - 170px);
    min-height: calc(100% - 170px);
}

.project-photo {
    width: calc(100% / 3);
    height: 200px;
    min-width: 200px;
}

.project-basic-info, .project-attachments, .project-photos {
    margin: 10px 0;
}

.project-detail-wrapper .row {
    margin: 0;
}

.Address, .project-basic-info .panel-body .row .col-xs-12 {
    padding-left: 0px;
}

.text {
    overflow: hidden;
}

.height {
    max-height: 100px;
}

.heightAuto {
    max-height: none;
}

.project-description .link {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 3px 0;
    background-color: rgba(0, 0, 0, 0);
    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.5));
}

#peek a i {
    color: #6892D5;
}

.project-attachments .panel-body td, .project-attachments .panel-body th {
    padding: 0 5px;
    vertical-align: top;
}

.project-attachments .panel-body table {
    border-spacing: 0 5px;
    border-collapses: seperate;
    width: 100%;
}

@media (max-width: 767px) {
    .desktop {
        display: none;
    }
}

@media (min-width: 768px) {
    .mobile {
        display: none;
    }

    .page-header {
        margin-top: -20px;
    }
}

.project-attachments ul li {
    list-style-type: none;
}

.title {
    font-weight: 900;
}

.project-transactions .panel-body table {
    width: 100%
}

.title, .value {
    color: #555;
}

.project-overview .title {
    font-size: 0.75em;
}