.header {
    background-color: #6892D5;
}

.header .navbar {
    color: #ffffff;
}

.header .navbar .logo.cursive {
    color: #ffffff;
    background-color: inherit;
}

.header.active {
    background-color: #6892D5;
}

.header.active .navbar .logo.cursive {
    color: #ffffff;
}