/** {*/
/*color:#4ADA78 !important;*/
/*}*/

/*     General overwrite     */
a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    outline: 0;
}

/*  footer */
.footer {
    position: relative;
    bottom: 10px;
    right: 0px;
    width: 100%;
    color: #000000;
    z-index: 4;
    text-align: center;
}

.footer a {
    color: #000000;
}

@media (max-width: 1000px) {

}

@media only screen and (min-width: 991px) {

    .footer {
        position: relative;
        bottom: 20px;
    }
}

.footer {
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    /*Quicksand*/
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
}

ul {
    list-style: none;
}

p {
    color: #5a5a5a;
    font-size: 13px;
    letter-spacing: 0.25px;
    line-height: 24px;
}

.primary-button a {
    display: inline-block;
    background-color: #a2cf8d;
    padding: 12px 18px;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.5s;
}

.primary-button a:hover {
    background-color: #5c9d7d;
}

.white-button a {
    display: inline-block;
    background-color: #fff;
    padding: 12px 18px;
    color: #121212;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.5s;
}

.white-button a:hover {
    background-color: #121212;
    color: #fff;
}

.section-heading h4 {
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    color: #121212;
}

.section-heading .line-dec {
    width: 60px;
    height: 3px;
    background-color: #121212;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: 80px;
    background-color: transparent;

    text-align: center;
    line-height: 40px;
}

/*navbar*/
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    text-shadow: none;
}

.navbar-brand {
    line-height: 80px;
    padding: 0px;
}

.header .navbar-nav > li > a {
    color: #fff;
}

.navbar-nav > li {
    margin-left: 45px;
}

.header.active .navbar-nav > li > a {
    color: #121212;
}

.header.active {
    background-color: rgba(250, 250, 250, 0.98);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.header.active navbar-brand {
    color: #121212;
}

/*TODO LOGO active color*/
.header.active span.logo.cursive {
    color: #121212;
}

.navbar-brand .logo {
    /*margin-top: 22px;*/
    /*background-image: url(../img/white_logo.png);*/
    display: inline-block;
    /*width: 125px;*/
    /*height: 32px;*/
    /*background-repeat: no-repeat;*/
}

.header.active .navbar-brand .logo {
    /*margin-top: 22px;*/
    /*background-image: url(../img/black_logo.png);*/
    display: inline-block;
    /*width: 125px;*/
    /*height: 32px;*/
    /*background-repeat: no-repeat;*/
}

#main-nav {
    background-color: transparent;
    /*background-image: none!important;*/
}

.header .navbar-brand {
    font-weight: 900;
}

.navbar-inverse {
    background-image: none;
    background-color: transparent;
}

.header .navbar {
    margin: 0;
    border: none;
}

.navbar-inverse .navbar-toggle {
    margin-top: 22px;
    border-color: #a2cf8d;
    background-color: #a2cf8d;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #a2cf8d;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 15px !important;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

#home-slider h1.logo.cursive {
    font-weight: 900;
    font-size: 100px;
    color: #ffffff;
    /*text-shadow:0px 0px 0px #FFFFFF;*/
}

#target-position {
    font-weight: 900;
    font-size: 1.5em;
    color: #FFFFFF;
}

@media (min-width: 768px) {
    .header .navbar-brand {
        padding-left: 0;
    }

    .navbar-nav {
        float: right;
    }
}

.page-section {
    padding: 80px 0;
}

/* each section in homepage */
@media (max-width: 480px) {
    .page-section h1 {
        font-size: 3em;
    }

    .page-section h2 {
        font-size: 2em;
    }

    .page-section p {
        font-size: 1em;
        margin: 0 0 20px;
    }
}

/* HERO SLIDER */

.slide-caption {
    color: #fff;
}

.slide-caption span {
    font-size: 14px;
    text-transform: uppercase;
}

.slide-caption h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 900;
}

.slide-caption p {
    font-size: 13px;
    letter-spacing: 0.25px;
    line-height: 24px;
}

ul.cd-hero-slider {
    margin-bottom: 0px !important;
}

/* FUN FACTS */

#fun-facts {
    padding: 100px 0px;
    background-color: #fff;

}

#fun-facts .section-heading {
    margin-bottom: 60px;
}

#fun-facts .container h4 {
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    color: #121212;
}

#fun-facts .container:first-child {
    margin-bottom: 50px;
}

#fun-facts .fact-item {
    background-color: #f4f4f4;
    padding: 30px;
    text-align: center;
}

.fact-item .counter {
    font-size: 24px;
    font-weight: 700;
    color: #a2cf8d;
}

.fact-item span {
    display: inline-block;
    margin-top: 10px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #7a7a7a;
}

footer, footer * {
    color: black;
    /*background-color: */
}

/*RESPONSIVE */

@media (max-width: 767px) {
    #main-nav {
        border-color: rgba(250, 250, 250, 0.95);
        margin-top: 16px;
        background-color: rgba(250, 250, 250, 0.95);
        box-shadow: 0px 5px 10px #cdcdcd;
    }

    .navbar-nav {
        padding: 0px;
        margin-top: 0px;
        margin-top: 0px;
    }

    .navbar-nav > li {
        margin-left: 0px;
        border-bottom: 1px solid #eee;
    }

    .navbar-nav > li:last-child {
        border-bottom: none;
    }

    .navbar-nav > li > a {
        line-height: 50px;
        color: #121212;
    }

    .cd-hero .slide-caption span {
        font-size: 13px;
    }

    .cd-hero .slide-caption h2 {
        font-size: 28px;
    }
}

@media (max-width: 1015px) {
    .slide-caption .content-caption p {
        padding: 0 10%;
    }

    .service-item {
        margin-bottom: 30px;
    }

    #what-we-do .right-image {
        margin-top: 60px;
    }

    #blog .pop {
        top: 15%;
        height: 80%;
        overflow-y: scroll;
    }

    .fact-item {
        margin-bottom: 15px;
    }

    .map {
        margin-bottom: 45px;
    }

    /*footer {*/
    /*text-align: center;*/
    /*}*/
    /*footer ul {*/
    /*float: none;*/
    /*}*/
}

.blocker {
    background-color: #f4f4f4;
    position: relative;
    margin-top: -145px;
    height: 80px;
    width: 100%;
    z-index: 9999999999;
}

@media only screen and (max-width: 767px) {
    .footer {
        position: relative;
    }

    .blocker {
        background-color: #f4f4f4;
        position: relative;
        margin-top: -145px;
        height: 80px;
        width: 100%;
        z-index: 9999999999;
    }

    #home-slider h1.logo.cursive {
        font-weight: 900;
        font-size: 88px;
        color: #ffffff;
        /*text-shadow:0px 0px 0px #FFFFFF;*/
    }

    /*#home-slider {*/
        /*height: calc(75%);*/
    /*}*/

    #search-bar .search-category-title {
        color: black;
    }

}

/*.autocomplete-suggestions strong {*/
/*font-weight: normal;*/
/*color: #3399ff;*/
/*}*/

.header .navbar-brand {
    display: none;
}

.header.active .navbar-brand {
    display: inline-block;
    color: black;
    font-weight: 900;
}

.header.active ul li a {
    color: black !important;
}

