*, html {
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

.icon-bar {
    background-color: #fff;
}

.logo.cursive {
    font-family: 'Quicksand';
    font-size: 1.5em;
    margin: 0px;
    padding: 0px;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: 80px;
    background-color: transparent;
    text-align: center;
    line-height: 40px;
}

/*navbar*/
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    text-shadow: none;
}

.navbar-brand {
    line-height: 80px;
    padding: 0px;
}

.header #main-nav .navbar-nav > li > a {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    text-shadow: none;
    line-height: 80px;
    padding: 0px;
    letter-spacing: 0.5px;
}

.navbar-nav > li {
    margin-left: 45px;
}

.header.active #main-nav .navbar-nav > li > a {
    font-size: 13px;
    font-weight: 300;
    text-shadow: none;
    color: #121212;
}

.header #main-nav .navbar-nav > li .dropdown > a {
    color: #fff;
    background-color: transparent;
    font-size: 13px;
    font-weight: 300;
    text-shadow: none;
    line-height: 80px;
    padding: 0px;
    letter-spacing: 0.5px;
}

.header.active #main-nav .navbar-nav > li .dropdown > a {
    font-size: 13px;
    font-weight: 300;
    text-shadow: none;
    color: #121212;
}

.header.active {
    background-color: rgba(250, 250, 250, 0.98);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.header.active .navbar-brand {
    color: #121212;
}

/*TODO LOGO active color*/
.header.active span.logo.cursive {
    color: #121212;
}

.navbar-brand .logo {
    /*margin-top: 22px;*/
    /*background-image: url(../img/white_logo.png);*/
    display: inline-block;
    /*width: 125px;*/
    /*height: 32px;*/
    /*background-repeat: no-repeat;*/
}

.header.active .navbar-brand .logo {
    /*margin-top: 22px;*/
    /*background-image: url(../img/black_logo.png);*/
    display: inline-block;
    /*width: 125px;*/
    /*height: 32px;*/
    /*background-repeat: no-repeat;*/
}

#main-nav {
    /*background-color: #FFFFFF;*/
    border-top: 0px
    /*background-image: none!important;*/
}

/*#main-nav.navbar-collapse.collapse.in {*/
/*background-color: #FFFFFF;*/
/*background-image: none!important;*/
/*}*/

.header .navbar-brand {
    font-weight: 900;
}

.navbar-inverse {
    background: transparent;
}

.header .navbar {
    margin: 0;
    border: none;
}

.navbar-inverse .navbar-toggle {
    margin-top: 22px;
    border-color: #a2cf8d;
    background-color: #a2cf8d;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #a2cf8d;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 15px !important;
    margin-right: 15px;
    margin-bottom: 8px;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}

.dropdown-menu {
    padding-left: 5px;
    padding-right: 5px;
}

.dropdown-item {
    color: #6892D5;
    font-weight: 900;
}

.dropdown-menu-icon-container {
    padding: 0px 2px;
}

.dropdown-menu-icon {
    height: 25px;
    width: 25px;
}

.avatar-image {
    width: 60px;
    height: 60px;
}

.navbar-nav > li .dropdown .dropdown-menu {
    min-width: 237px;
    margin: 0;
}

.navbar-nav > li .dropdown .dropdown-menu .passport, .navbar-nav > li .dropdown .dropdown-menu .passport .row {
    margin: 0px;
}

.navbar-nav > li .dropdown .dropdown-menu .passport .user-image {
    margin: 0px;
    width: 60px;
    height: 60px;
    float: left;
}

.navbar-nav > li .dropdown .dropdown-menu .passport .user-name {
    margin: 0px;
    margin-left: 10px;
    float: left;
    width: 122px;
    height: 60px;
}

.navbar-nav > li .dropdown .dropdown-menu .dropdown-menu-group-list {
    margin: 0px;
    margin-top: 12px;
    padding-top: 11px;
    border-top: 1px solid #e6e6e6;
}

.navbar-nav > li .dropdown .dropdown-menu .dropdown-menu-items {
    height: 32px;
}

.navbar-nav > li .dropdown .dropdown-menu {
    margin-top: -33px;

}

@media (min-width: 768px) {
    .header .navbar-brand {
        padding-left: 0;
    }

    .navbar-nav {
        float: right;
    }

    .navbar-nav > ul {
        float: right;
    }

    .navbar-nav > li {
        height: 80px;
    }

    .navbar-nav > li .dropdown .dropdown-menu {
        padding: 12px;
    }

    /*.navbar-nav > li .dropdown .dropdown-toggle {*/
    /*margin: 23px 0;*/
    /*!*vertical-align: center;*!*/
    /*}*/
    .navbar-nav > li .dropdown .dropdown-menu {
        min-width: 237px;
        margin: 0;
    }

    .navbar-nav > li .dropdown .dropdown-menu .passport, .navbar-nav > li .dropdown .dropdown-menu .passport .row {
        margin: 0px;
    }

    .navbar-nav > li .dropdown .dropdown-menu .passport .user-image {
        margin: 0px;
        width: 60px;
        height: 60px;
        float: left;
    }

    .navbar-nav > li .dropdown .dropdown-menu .passport .user-name {
        margin: 0px;
        margin-left: 10px;
        float: left;
        width: 122px;
        height: 60px;
    }

    .navbar-nav > li .dropdown .dropdown-menu .dropdown-menu-group-list {
        margin: 0px;
        margin-top: 12px;
        padding-top: 11px;
        border-top: 1px solid #e6e6e6;
    }

    .navbar-nav > li .dropdown .dropdown-menu .dropdown-menu-items {
        height: 32px;
    }

    .navbar-nav > li .dropdown .dropdown-menu {
        margin-top: -33px;

    }

    .mobile-dropdown {
        display: none;
    }
}

#main-nav .navbar-nav li {
    list-style-type: none;
}

@media (max-width: 767px) {
    .navbar-nav > li {
        margin-left: 0px;
        height: 80px;
    }

    .header #main-nav ul li a {
        color: #000000;
    }

    #main-nav {
        padding: 0px;
        height: auto;
    }

    .header #main-nav .navbar-nav {
        margin: 0px;
    }

    .header.active #main-nav .navbar-nav > li > a {
        background-color: #FFFFFF;
        color: #000000;
    }

    /*.mobile-hide {*/
    /*display: none;*/
    /*}*/
    .nav.navbar-nav .dropdown {
        background-color: white;
    }

    .open {
        display: block;
    }

    .nav.navbar-nav .dropdown {
        display: none;
    }

    .header #main-nav .navbar-nav > li {
        height: 40px;
    }

    .header #main-nav .navbar-nav > li a {
        font-size: 13px;
        font-weight: 300;
        text-shadow: none;
        line-height: 40px;
        padding: 0px;
        letter-spacing: 0.5px;
        background-color: #FFFFFF;
        color: #000000;
    }

    .mobile-dropdown {
        background-color: white;
    }
}

/* footer */
.footer {
    margin: 0px;
    padding: 0px;
    right: 0px;
    bottom: 0px;

    width: 100%;
    color: #AAAAAA;
    z-index: 4;
    text-align: center;
    box-sizing: border-box;

}

.footer a {
    color: #000000;
}

/*TODO: may be need to move the footer to the left*/
/*.footer .footer-wrapper{*/
/*width: 100%;*/
/*padding-left: 10%;*/
/*}*/
/*.footer .footer-wrapper ul {*/
/*float: left;*/
/*}*/

.footer .footer-wrapper ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 5px;

}

.footer .copyright-wrapper {
    padding-bottom: 5px;
}

/* third part Oauth*/
.thirdparty a {
    width: 200px;

}

.thirdparty a:checked, .thirdparty a:active {
    color: #FFFFFF;
}

.btn-facebook {
    background-color: #3B5998;
    color: #FFFFFF;
    text-align: center;
}

.btn-twitter {
    background-color: #55ACEE;
    color: #FFFFFF;
    text-align: center;
}

.btn-google {
    background-color: #DD4B39;
    color: #FFFFFF;
    text-align: center;
}

@media only screen and  (min-width: 991px) {
    .search-button {
        margin: 0px;
        padding: 0px;
        border-width: 0px;
    }

}

/* horizontal line divider */
.hld {
    position: relative;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.hld:before {
    position: absolute;
    top: 50%;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #434857;
}

/* horizontal line word */
.hlw {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    color: black;
    vertical-align: middle;
    background-color: #ffffff;
    font-size: 0.5em;
}

/*horizontal-line*/
.hr-line {
    overflow: hidden;
    text-align: center;
}

.hr-line:before,
.hr-line:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.hr-line:before {
    right: 0.5em;
    margin-left: -50%;
}

.hr-line:after {
    left: 0.5em;
    margin-right: -50%;
}

.header-gap {
    margin-top: 100px;
}

.bold-900 {
    font-weight: 900;
}

.text-right {
    text-align: right;
}

.full-width {
    width: 100%;
}

.btn-hoome {
    color: white;
    border-color: #6892D5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    background-color: #6892D5;
    background: linear-gradient(#6892D4, #6892D6);
}

.popup .popuptext {
    visibility: hidden;
    width: 100%;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 20%;
    margin-left: -80px;
}

.white-popup-block {
    background: #FFF;
    padding: 20px 30px;
    text-align: left;
    max-width: 650px;
    margin: 100px auto;
    position: relative;
}

.alert-base {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 9999999;
}

.header-gap > .row {
    margin-left: 0;
    margin-right: 0;
}
ul.errorlist {
    list-style-type: none;
}