.body {
    hieght: 800px
}

.footer {
    position: relative;
}

.map-container,
.map-container .map {
    width: 100%;
    height: 400px;
    margin: 0px;
   padding:0px;
}

/*head nav bar*/
.header .navbar  {
    color: #000000 ;
}

.header .navbar .logo.cursive {
    color: #000000;
    background-color: inherit;
}

.header .navbar-nav > li > a {
    color: #121212 !important;
}

.header.active #main-nav .navbar-nav > li > a {
    color: #ffffff !important;

}

.header.active  {
        background-color: #6892D5;
}
.header.active .navbar .logo.cursive {
    color: #ffffff;
}

/*search */
.search-bar {
    box-sizing: border-box;
    position: relative;
    /*top:290px;*/
    left: 0;
    width: 80%;
    margin: 0 10%;
}

#searchForm .form-row {
    display: flex;
}

#searchForm .search-row {
    display: flex;
    flex-grow: 1
}

#searchForm .search-row .dropdown * {
    width: 100%;
}

#searchForm .form-row button {
    border-radius: 0 6px 6px 0;
    white-space: nowrap;
    padding: 0 20px;
    height: 34px;
}

.btn {
    background-color: #FFFFFF;
}

.blue-btn {
    border-radius: 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: none;
    color: white;
    background-color: #24a9ff
}

.blue-btn:hover {
    background-color: #49b8ff
}

.blue-btn:active {
    background-color: #1d96e4
}

/*search bar autocomplete*/
.autocomplete-suggestions {
    position: absolute;
    display: none;
    max-height: 300px;
    z-index: 9999
}

.autocomplete-suggestion {
    padding: 5px 2px;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    background: white;
}

.autocomplete-group {
    padding: 10px 5px;
    background: lightgrey;
    font-size: 1.2em;
}

.autocomplete-selected {
    background: #f0f0f0;
}

/*.autocomplete-suggestions strong {*/
    /*font-weight: normal;*/
    /*color: #3399ff;*/
/*}*/

@media (min-width: 769px) {
    .search-row > *:first-child {
        width: 45%;
    }

    #searchForm .search-row .dropdown {
        width: 45%
    }

    .search-row > *:last-child {
        width: 10%;
    }

    .search-row input, .search-row
    button {
        border-radius: 0
    }

    .search-row > *:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .search-row > *:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}

@media only screen and (max-width: 768px) {
    #searchForm {
        padding-left: 0;
        padding-bottom: 200px;

    }

    .search-row {
        padding: 0 10%;
        flex-direction: column;
    }

    .main .motto {
        width: 100%;
        font-size: 1em;
    }

    .search-row > * {
        border-radius: 0;
        margin: 5px 0;
    }

    .search-row .dropdown input {
        border-radius: 0;
    }

    #searchForm .form-row button {
        border-radius: 0;
    }

    .footer {
        position: relative;
    }

}

#search-list {
    padding-top: 80px;

}

@media (min-width: 769px) {
    body {
        min-heihgt: 650px;
    }

    .footer {
        position: relative;
    }
}

.banner {
    margin-top: 100px;
    padding-top: 100px;
}

