/*===============================================================
*   professional fill up form
===============================================================*/
.main-content {
    margin-bottom: 50px;
    min-height: calc(100% - 170px);
}

.footer {
    position: relative;
}
.stages {
    font-size: 0;
    text-align: justify;
}

.stages:after {
    content: '';
    display: inline-block;
    font-size: 0;
    text-align: justify;
    width: 100%;
}

.stages-radio-input {
    display: none;
}

.stages label {
    background: #ffffff;
    border: solid 5px #c0c0c0;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 50px;
    z-index: 1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.stages label:after {
    content: '\2713';
    color: #0cc39f;
    display: inline-block;
    font-size: 16px;
}

#one:checked ~ .stages label[for="one"],
#two:checked ~ .stages label[for="two"],
#three:checked ~ .stages label[for="three"],
#four:checked ~ .stages label[for="four"],
#five:checked ~ .stages label[for="five"] {
    border-color: #0cc39f;
}

.stages label.active {
    border-color: purple !important;
}

#one:checked ~ .stages label,
#two:checked ~ .stages label[for="one"] ~ label,
#three:checked ~ .stages label[for="two"] ~ label,
#four:checked ~ .stages label[for="three"] ~ label,
#five:checked ~ .stages label[for="four"] ~ label {
    font-size: 1rem;
}

#one:checked ~ .stages label:after,
#two:checked ~ .stages label[for="one"] ~ label:after,
#three:checked ~ .stages label[for="two"] ~ label:after,
#four:checked ~ .stages label[for="three"] ~ label:after,
#five:checked ~ .stages label[for="four"] ~ label:after {
    display: none;
}

.progress > span {
    background: #c0c0c0;
    display: inline-block;
    height: 5px;
    transform: translateY(-2.75em);
    transition: 0.3s;
    width: 0;
}

#two:checked ~ .progress span {
    width: calc(100% / 4 * 1);
}

#three:checked ~ .progress span {
    width: calc(100% / 4 * 2);
}

#four:checked ~ .progress span {
    width: calc(100% / 4 * 3);
}

#five:checked ~ .progress span {
    width: calc(100% / 4 * 4);
}

.panels:not(.button-container) > div {
    display: none;
}

#one:checked ~ .panels [data-panel="one"],
#two:checked ~ .panels [data-panel="two"],
#three:checked ~ .panels [data-panel="three"],
#four:checked ~ .panels [data-panel="four"],
#five:checked ~ .panels [data-panel="five"] {
    display: block;
}

/*===============================================================
*   professional fill up form customized  TODO
===============================================================*/
h4 {
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

/* professional type*/

#id_professional_type {
    margin-top: 50px;
}

#id_professional_type label {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#id_professional_type .input-professional-type-container {
    display: none;
}

#professionalProfileForm {
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
    margin: 4em;
    min-width: 50%;
    padding: 1em;
    height: 75%;
    text-align: justify;
}

.error-container {
    display: block;
}

li {
    list-style-type: none;
}

.panels {
    margin-top: 30px;
    margin-bottom: 50px;
}

div[id^="stage-"] {
    text-align: center;
}

div[id^="stage-"] > div {
    margin-top: 20px;
    padding-top: 20px;
}

.btn {
    background-color: #6892D5;
}

.container-sign-up-professional-profile-form {
    margin-top: 80px;
}

.header {
    background-color: #6892D5;
}

.header .navbar .logo.cursive {
    color: #ffffff;
}

.footer {
    position: relative;
}

.footer-wrapper {
    margin-top: 20px;
}

.login-wrapper {
    min-height: 80%;
    margin-top: 80px;
}

.socialaccount_providers {
    list-style-type: None;
}

@media (max-width: 992px) {
    #professionalProfileForm {
        background: #ffffff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
        margin: 0;
        min-width: 50%;
        padding: 1em;
        height: auto;
        min-height: 80%;
    }
}


.header {
    background-color: #6892D5;
}

.header .navbar .logo.cursive {
    color: #ffffff;
}

.footer {
    position: relative;
}

.signup-wrapper {
    padding: 30px;
    overflow: hidden;
    min-height: 80%;
    text-align: center;
}

.socialaccount_providers {
    list-style-type: None;
}

.signup-container {
    max-width: 300px;
    margin: auto
}

.picture-container {
    padding-bottom: 12px;
    margin-top: 80px;
    text-align: center;
}

.picture-container img {
    width: 386px;
    vertical-align: middle;
}

@media (min-width: 1024px) {
    .row {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1023px) {
    .pic {
        display: none;
    }
}

.social-word {
    display: flex;
    justify-content: center;
    font-weight: 900;
}

.signup input {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 30px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 3px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.signup-user-selection-container {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.nav-tabs {
    width: 100%;
}

.signup-user-selection {
    width: 50%;
}

.socialaccount_providers li {
    margin-top: 10px;
}

.alert.alert-warning li {
    list-style-type: none;
}