.container-sign-up-profile-form {
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
}

.container-sign-up-professional-profile-form {
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
}