{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}
{% block content %}
    <div class="container header-gap">
        <h1>{% trans "Confirm E-mail Address" %}</h1>
        {% if confirmation %}
            {% user_display confirmation.email_address.user as user_display %}
{#            with '<a href="mailto:{{ confirmation.email_address.email }}">{{ confirmation.email_address.email }}</a>' as email#}
            <p>{% blocktrans  %}Please confirm that
                {{ email }} is an e-mail address for Hoome ID {{ user_display }}
                .{% endblocktrans %}</p>
            <br/>
            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                <button class="btn btn-hoome" type="submit">{% trans 'Confirm' %}</button>
            </form>
        {% else %}
            {% url 'account_email' as email_url %}
            <p>{% blocktrans %}This e-mail confirmation link expired or is invalid.{% endblocktrans %}
                <a href="{{ email_url }}">{% blocktrans %}Please issue a new e-mail confirmation
                    request.{% endblocktrans %}</a></p>
        {% endif %}
    </div>
{% endblock %}
