{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load account socialaccount %}

{% block metainfo %}
    <style>

        .header {
            background-color: #6892D5;
        }

        .header .navbar .logo.cursive {
            color: #ffffff;
        }

        .footer {
            position: relative;
        }

        .login-wrapper {
            padding: 30px;
            overflow: hidden;
            min-height: 80%;
            text-align: center;
        }

        .socialaccount_providers {
            list-style-type: None;
        }

        .login-container {
            margin-top: 114px;
            max-width: 300px;
            margin: auto
        }

        .login input {
            width: 100%;
            height: 30px;
            border-radius: 3px;
            border: 1px solid rgb(153,153,153);
        }

        .text-right {
            text-align: right;
        }

        .full-width {
            width: 100%;
        }

        .btn-hoome {
            color: white;
            border-color: #6892D5;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
            background-color: #6892D5;
            background: linear-gradient(#6892D4, #6892D6);
        }

        .picture-container {
            padding-bottom: 12px;
            margin-top: 80px;
            text-align: center;
        }

        .picture-container img {

            width: 386px;
            vertical-align: middle;
        }

        @media (min-width: 1024px) {
            .row {
                width: 960px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        @media (max-width: 1023px) {
            .pic {
                display: none;
            }
        }

        .errorlist.nonfield {
            list-style-type: none;
        }

        .social-word {
            display: flex;
            justify-content: center;
            font-weight: 900;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}">
{% endblock %}



{% block content %}
    <div class="container header-gap">
        <div class="row">
            <div class="col-md-6">
                <div class="login-wrapper ">
                    <div class="login-container">
                        <h1>{% trans "Log In to Hoome" %}</h1>
                        <p>{% blocktrans %}By logging in, you agree to Hoome’s {% endblocktrans %}<a
                                href="/rule/service">{% trans 'Terms of Service' %}</a> {% trans 'and' %} <a
                                href="/rule/privacy">{% trans 'Privacy Policy' %}</a>.
                        </p>
                        <br/>
                        {% get_providers as socialaccount_providers %}
                        {% if socialaccount_providers %}
                            <div class="socialaccount_ballot">
                                <ul class="socialaccount_providers">
                                    {% for provider in socialaccount_providers %}
                                        {% if provider.id == "openid" %}
                                            {% for brand in provider.get_brands %}
                                                <li>
                                                    <a title="{{ brand.name }}"
                                                       class="socialaccount_provider {{ provider.id }} {{ brand.id }} btn btn-social btn-{{ provider.name|lower }} full-width"
                                                       href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">
                                                        <span class="fa fa-{{ provider.name|lower }}"></span>
                                                        <span style="font-weight:900">{% trans "Sign in with" %} {{ provider.name }}</span>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        {% endif %}
                                        <li>
                                            <a title="{{ provider.name }}"
                                               class="socialaccount_provider {{ provider.id }} btn btn-social btn-{{ provider.name|lower }} full-width"
                                               href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><span
                                                    class="fa fa-{{ provider.name|lower }}"></span>
                                                <div class="social-word">{% trans "Sign in with" %} {{ provider.name }}</div>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            {% include "socialaccount/snippets/login_extra.html" %}
                        {% else %}
                            <p>{% blocktrans %}If you have not created an account yet, then please{% endblocktrans %}
                                <a href="{{ signup_url }}">{% trans "sign up" %}</a> {% trans "first." %}</p>
                        {% endif %}

                        <br/>
                        <p class="hr-line"><span>{% trans 'OR' %}</span></p>
                        <br/>

                        <form class="login" method="POST" action="{% url 'account_login' %}">
                            {% csrf_token %}
                            {% if  form.errors %}
                                <div class="alert alert-warning">
                                    {{ form.non_field_errors }}
                                </div>
                            {% endif %}
                            <p><input type="text" name="login" autofocus="autofocus"
                                      required=""
                                      placeholder="{% trans 'Username' %} {% trans 'or' %} {% trans 'Email' %}"
                                      id="id_login"></p>
                            <p><input type="password" name="password" required=""
                                      placeholder="{% trans 'Password' %}" id="id_password"></p>
                            {#<label for="id_remember">Remember Me:</label><p><input type="checkbox" name="remember" id="id_remember"> </p>#}
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}"
                                       value="{{ redirect_field_value }}"/>
                            {% endif %}

                            <div class="text-right">
                                <a class="button secondaryAction"
                                   href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                            </div>
                            <br/>
                            <button class="primaryAction btn btn-hoome full-width"
                                    type="submit">{% trans "Sign In" %}</button>
                        </form>
                        <br/>
                        <div class="text-right">{% trans 'New to Hoome?' %} <a
                                href="{% url 'account_signup' %}">{% trans 'Sign up' %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="picture-container">
                    <img class="pic" src="{% static 'image/icon/log-in.svg' %}">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
