{% extends "dashboard/dashboard.html" %}
{% load i18n %}


{% block dashboard_content %}
    <h2 class="section-title">{{ Password }}</h2>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% if  form.errors %}
            <div class="alert alert-warning">
                {% for field in form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            {{ error }}
                            <br/>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                {{ form.non_field.errors }}
            </div>
        {% endif %}
        <p><label for="id_oldpassword">Current Password:</label> <input type="password"
                                                                        name="oldpassword"
                                                                        required=""
                                                                        placeholder="{{ Current }} {{ Password }}"
                                                                        id="id_oldpassword"></p>
        <p><label for="id_password1">New Password:</label> <input type="password" name="password1"
                                                                  required=""
                                                                  placeholder="{{ New }} {{ Password }}"
                                                                  id="id_password1"></p>
        <p><label for="id_password2">New Password (again):</label> <input type="password"
                                                                          name="password2"
                                                                          required=""
                                                                          placeholder="{% trans 'New Password (again)' %}"
                                                                          id="id_password2"></p>
        <button type="submit" class="btn btn-hoome" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}

