{% extends "dashboard/dashboard.html" %}
{% load i18n %}


{% block dashboard_content %}
    <h2 class="section-title">{{ Password }}</h2>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% if  form.non_field_errors  %}
            <div class="alert alert-warning">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <p><label for="id_password1">{{ New_Password }}:</label> <input type="password" name="password1"
                                                                  required=""
                                                                  placeholder="{{ New_Password }}"
                                                                  id="id_password1"></p>
        <p><label for="id_password2">{% trans 'New Password (again)' %}:</label> <input type="password"
                                                                          name="password2"
                                                                          required=""
                                                                          placeholder="{% trans 'New Password (again)' %}"
                                                                          id="id_password2"></p>
        <button type="submit" class="btn btn-hoome" name="action">{% trans "Set Password" %}</button>
    </form>
{% endblock %}

