{% extends 'base.html' %}
{% load staticfiles %}
{% block metainfo %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet" />
    <script src="{% static 'js/jQuery-Autocomplete-master/src/jquery.autocomplete.js'%}"></script>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="main" style="background-image: url('media/homepage/video_bg.jpg');background-size: cover; ">

        <video id="video_background" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
            <source src="media/homepage/video/time.webm" type="video/webm">
            <source src="media/homepage/video/time.mp4" type="video/mp4">
            Video not supported
        </video>
<!--    Change the image source '/images/video_bg.jpg')" with your favourite image.     -->

    <div class="cover black" data-color="black"></div>

<!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

    <div class="container">
        <h1 class="logo cursive">
            Hoome
        </h1>
<!--  H1 can have 2 designs: "logo" and "logo cursive"           -->
        <div class="content">
            <h4 class="motto">Your Trusted Contractor Information Sharing Platform.</h4>

            {% include 'search_bar/search_bar.html' %}

        </div>
    </div>
    <div class="footer">
            <div class="footer-wrapper">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Policy</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="copyright-wrapper">
            Copyright © 2017 <a href="http://hoome.io" target="_blank" class="ph_link" title="Hoome">Hoome</a>. All Rights Reserved.
            </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{%  block javascript %}
{%  endblock %}
