{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block metainfo %}
    <meta name="description" content="">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="{% static 'css/hero-slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/search-bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <style>

        {% for path in background %}
            {% with 'image/background-pic/bg_set/'|add:path as image_static %}
                .cd-hero-slider li:nth-of-type(1) {
                    background-image: url("{% static 'image/background-pic/home-gradient-4.png' %}"), url("{% static image_static %}");
                    background-position: center bottom;
                }
            {% endwith %}
        {% endfor %}

        {#        .cd-hero-slider li:nth-of-type(1) {#}
        {#            background-image: url("{% static 'image/background-pic/home-gradient-4.png' %}"), url("{% static 'image/background-pic/bg_set/slider_1.jpg' %}");#}
        {#            background-position: center;#}
        {#        }#}

        {#        .first-service .icon {#}
        {#            background-image: url("{% static 'image/background-pic/mag-black.svg' %}");#}
        {#            height: 50px;#}
        {#            width: 50px;#}
        {#            display: inline-block;#}
        {#            background-size: contain;#}
        {#        }#}

        {#        .first-service:hover .icon {#}
        {#            background-image: url("{% static 'image/background-pic/mag-white.svg' %}");#}
        {#        }#}
        {##}
        {#        .second-service .icon {#}
        {#            background-image: url("{% static 'image/background-pic/manage-black.svg' %}");#}
        {#            height: 50px;#}
        {#            width: 50px;#}
        {#            display: inline-block;#}
        {#            background-size: contain;#}
        {#        }#}
        {##}
        {#        .second-service:hover .icon {#}
        {#            background-image: url("{% static 'image/background-pic/manage-white.svg' %}");#}
        {#        }#}
        {##}
        {#        .third-service .icon {#}
        {#            background-image: url("{% static 'image/background-pic/host-black.svg' %}");#}
        {#            height: 50px;#}
        {#            width: 50px;#}
        {#            display: inline-block;#}
        {#            background-size: contain;#}
        {#        }#}
        {##}
        {#        .third-service:hover .icon {#}
        {#            background-image: url("{% static 'image/background-pic/host-white.svg' %}");#}
        {#        }#}
        @media (min-width: 768px) {
            #contractor-icon {
                background-image: url("{% static 'image/search-category-icon/contractor-white.svg' %}");
                height: 1.2em;
                width: 1.2em;
                display: inline-block;
                background-size: contain;
            }

            #architect-icon {
                background-image: url("{% static 'image/search-category-icon/architect-white.svg' %}");
                height: 1.2em;
                width: 1.2em;
                display: inline-block;
                background-size: contain;
                font-weight: 900;
            }

            #designer-icon {
                background-image: url("{% static 'image/search-category-icon/designer-white.svg' %}");
                height: 1.2em;
                width: 1.2em;
                display: inline-block;
                background-size: contain;
                font-weight: 900;

            }

            #meister-icon {
                background-image: url("{% static 'image/search-category-icon/meister-white.svg' %}");
                height: 1.2em;
                width: 1.2em;
                display: inline-block;
                background-size: contain;
                font-weight: 900;

            }
        }

        @media (max-width: 767px) {
            #contractor-icon {
                background-image: url("{% static 'image/search-category-icon/contractor-black.svg' %}");
                height: 1.2em;
                width: 1.2em;
                display: inline-block;
                background-size: contain;
            }

            #architect-icon {
                background-image: url("{% static 'image/search-category-icon/architect-black.svg' %}");
                height: 1.2em;
                width: 1.2em;
                display: inline-block;
                background-size: contain;
                font-weight: 900;
            }

            #designer-icon {
                background-image: url("{% static 'image/search-category-icon/designer-black.svg' %}");
                height: 1.2em;
                width: 1.2em;
                display: inline-block;
                background-size: contain;
                font-weight: 900;

            }

            #meister-icon {
                background-image: url("{% static 'image/search-category-icon/meister-black.svg' %}");
                height: 1.2em;
                width: 1.2em;
                display: inline-block;
                background-size: contain;
                font-weight: 900;

            }
        }

    </style>
    <script src="{% static 'js/jQuery-Autocomplete-master/src/jquery.autocomplete.js' %}"></script>
{% endblock %}


{% block content %}
    <section id='home-slider' class="cd-hero">
        <ul class="cd-hero-slider ">
            <!--
                <ul class="cd-hero-slider autoplay"> for slider auto play
                <ul class="cd-hero-slider"> for disabled auto play
            -->
            <li class="selected first-slide">
                <div class="cd-full-width">
                    <div class="tm-slide-content-div slide-caption">
                        <h1 class="logo cursive">Hoome</h1>
                        <h1 id="target-position">{% trans 'Find excellent professionals' %}</h1>
                    </div>
                </div> <!-- .cd-full-width -->
            </li>
        </ul> <!-- .cd-hero-slider -->
    </section> <!-- .cd-hero -->

    <div id='search-bar' class="search-bar">
        {% include 'search_bar/search_bar.html' %}
    </div>
    <script>
        var cumulativeOffset = function (element) {
            var top = 0;
            do {
                top += element.offsetTop || 0;
                element = element.offsetParent;
            } while (element);

            return {
                top: top,
            };
        };
        var elem = document.getElementById('search-bar');
        var elem2 = document.getElementById('home-slider');
        var target = document.getElementById('target-position');
        elem.style.top = (cumulativeOffset(target).top + $('#target-position').height() + 10).toString() + 'px';
        if (jQuery(window).width() < 768) {
            elem2.style.height = (cumulativeOffset(target).top + $('#target-position').height() + 10 + $('#search-bar').height()).toString() + 'px';
        } else if (jQuery(window).width() >= 1170) {
            elem2.style.height = '680px';
        } else {
            elem2.style.height = '500px';
        }
        $(window).resize(function () {
            var elem = document.getElementById('search-bar');
            var target = document.getElementById('target-position');
            elem.style.top = (cumulativeOffset(target).top + $('#target-position').height() + 10).toString() + 'px';
            if (jQuery(window).width() < 768) {
                elem2.style.height = (cumulativeOffset(target).top + $('#target-position').height() + 10 + $('#search-bar').height()).toString() + 'px';
            } else if (jQuery(window).width() >= 1170) {
                elem2.style.height = '680px';
            } else {
                elem2.style.height = '500px';
            }
        });
    </script>
    {#    <div id="about" class="page-section">#}
    {#        <div class="container">#}
    {#            <div class="row">#}
    {#                <div class="col-md-12">#}
    {#                    <div class="section-heading">#}
    {#                        <h4>{% blocktrans %}What We Do{% endblocktrans %}</h4>#}
    {#                        <div class="line-dec"></div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="row">#}
    {#                <div class="col-md-4 col-sm-4 col-xs-12">#}
    {#                    <div class="service-item first-service">#}
    {#                        <div class="icon"></div>#}
    {##}
    {#                        <h4>{% blocktrans %}Data Analysis{% endblocktrans %}</h4>#}
    {#                        <p>{% blocktrans %}Using big data analysis to rate 215606 California licensed#}
    {#                            contractors.{% endblocktrans %}</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-md-4 col-sm-4 col-xs-12">#}
    {#                    <div class="service-item second-service">#}
    {#                        <div class="icon">#}
    {#                        </div>#}
    {#                        <h4>{% blocktrans %}Project Management{% endblocktrans %}</h4>#}
    {#                        <p>{% blocktrans %}Real-time monitor and manage the project Create new industry#}
    {#                            standard{% endblocktrans %}</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-md-4 col-sm-4 col-xs-12">#}
    {#                                        TODO: Change the height dynamiclly#}
    {#                    <div class="service-item third-service">#}
    {#                        <div class="icon">#}
    {#                        </div>#}
    {#                        <h4>{% blocktrans %}Payment Guarantee{% endblocktrans %}</h4>#}
    {#                        <p>{% blocktrans %} Save payment in our platform to ensure safety on#}
    {#                            both sides{% endblocktrans %}</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

    <div id="fun-facts">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>{% trans 'Database in California State' %}  </h4>
                        {#                <p>Right now, we make California state as our first stop. You can find any contractors, designers,#}
                        {#                    and architects in this state.</p>#}
                        {#                <br>#}
                        {#                <br>#}
                        <div class="line-dec"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="fact-item">
                        <div class="counter" data-count="215606">212500</div>
                        <span>{{ Active_Contractors }}</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="fact-item">
                        <div class="counter" data-count="35935">32500</div>
                        <span>{{ Excellent_Architects }}</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="fact-item">
                        <div class="counter" data-count="12526">10000</div>
                        <span>{{ NCIQ_certificated_Designers }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="us-data" class="page-section" style="z-index:1;">
        <div class="container">
            <div class='tableauPlaceholder' id='viz1507635143106' style='position: relative'>
                <noscript><a href='#'><img alt='Sheet 2 '
                                           src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Bo&#47;Book2_13623&#47;Sheet2&#47;1_rss.png'
                                           style='border: none'/></a></noscript>
                <object class='tableauViz' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'/>
                    <param name='embed_code_version' value='2'/>
                    <param name='site_root' value=''/>
                    <param name='name' value='Book2_13623&#47;Sheet2'/>
                    <param name='tabs' value='no'/>
                    <param name='toolbar' value='yes'/>
                    <param name='static_image'
                           value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Bo&#47;Book2_13623&#47;Sheet2&#47;1.png'/>
                    <param name='animate_transition' value='yes'/>
                    <param name='display_static_image' value='yes'/>
                    <param name='display_spinner' value='yes'/>
                    <param name='display_overlay' value='yes'/>
                    <param name='display_count' value='yes'/>
                    <param name='toolbar' value='no'/>
                    <param name='showShareOptions' value='false'/>
                    <param name='tabs' value='no'/>
                </object>
            </div>
        </div>
        <script type='text/javascript'>
            var divElement = document.getElementById('viz1507635143106');
            var vizElement = divElement.getElementsByTagName('object')[0];
            vizElement.style.width = '100%';
            vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
            var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);
        </script>
    </div>
    <div class="blocker">
        <div class="container"></div>
    </div>
    <div class="container" style="height:20px"></div>
{% endblock %}


{% block javascript %}
    <script src="{% static 'js/plugins.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // navigation click actions
            $('.scroll-link').on('click', function (event) {
                event.preventDefault();
                var sectionID = $(this).attr("data-id");
                scrollToID('#' + sectionID, 750);
            });
            // scroll to top action
            $('.scroll-top').on('click', function (event) {
                event.preventDefault();
                $('html, body').animate({scrollTop: 0}, 'slow');
            });
            // mobile nav toggle
            $('#nav-toggle').on('click', function (event) {
                event.preventDefault();
                $('#main-nav').toggleClass("open");
            });
        });

        // scroll function
        function scrollToID(id, speed) {
            var offSet = 50;
            var targetOffset = $(id).offset().top - offSet;
            var mainNav = $('#main-nav');
            $('html,body').animate({scrollTop: targetOffset}, speed);
            if (mainNav.hasClass("open")) {
                mainNav.css("height", "1px").removeClass("in").addClass("collapse");
                mainNav.removeClass("open");
            }
        }

        if (typeof console === "undefined") {
            console = {
                log: function () {
                }
            };
        }
    </script>
{% endblock %}