{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hoome</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/FixedLeftNavBar.css' %}">
{#    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/login-form.css' %}">
    <title>Hoome</title>
    <!-- add additional style or infor-->
    {% block metainfo %}

    {% endblock %}

</head>
<body >
    <!--nav bar start-->
    <div class="container top-nav-head">
    {% block nav %}
       <header class="navbar navbar-bright navbar-fixed-top" role="banner">
          <div class="container">
            <div class="navbar-header">
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="/" class="navbar-brand">[placeholder]Place brand image</a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
              <ul class="nav navbar-nav">
                <li><a href="#sec">Find your address</a></li>
                <li><a href="#sec">Projects</a></li>
                <li><a href="{% url 'login' %}">Sign in</a></li>
                <li><a href="#sec">Contractor signin</a></li>
              </ul>
            </nav>
          </div>
        </header>
    {% endblock %}
    </div>

    {% block header %}
    {% endblock %}
    <!--nav bar end-->


    {% block banner %}
    {% endblock %}


    {% block content %}
    {% endblock %}



    {% block footer %}
    {% endblock %}

</body>
</html>