{% load staticfiles %}

<html lang="en">
<head>
    <title>Hoome</title>
    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/NavBar.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    </style>
{#    <link rel="stylesheet" href="{% static 'css/login-form.css' %}">#}

    <!-- add additional style or infor-->
    {% block metainfo %}

    {% endblock %}

</head>
<body >
    <!--nav bar start-->
    {% block nav %}
       <header class="navbar navbar-bright navbar-fixed-top" role="banner">
          <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <h1 class="logo cursive">
                        Hoome
                    </h1>
                </a>
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

            </div>
            <nav class="collapse navbar-collapse" role="navigation">
              <ul class="nav navbar-nav">
                <li><a href="/">Find your address</a></li>
                <li><a href="/">Projects</a></li>
                <li><a class="dropdown-item" href="{% url 'login' %}">User Sign In</a></li>
                <li> <a class="dropdown-item" href="#">Contractor Sing In</a></li>
              </ul>
            </nav>
          </div>
        </header>
    {% endblock %}

    {% block header %}
    {% endblock %}

    <!--nav bar end-->

    {% block banner %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}


</body>

    {% block javascript %}
    {% endblock %}
</html>