<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hoome</title>
</head>
<body>
    <!--nav bar start-->
    <nav class="navbar navbar-light fixed-top">
        <a class="navbar-brand" href="#">[placeholder]Place brand image</a>
        <div>
            <ol>
                <li>
                    <a>Find your address</a>
                </li>
                <li>
                    <a>Projects</a>
                </li>
                <li>
                    <a>Sign in</a>
                </li>
                <li>
                    <a>Contractor sign in</a>
                </li>
            </ol>
        </div>
    </nav>
    <!--nav bar end-->

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
</body>
</html>