{% extends 'base.html' %}

{% block metainfo %}
<link rel="stylesheet" href="{% static 'css/projectphoto.css' %}"
{% endblock %}

{%  block content %}
<form id="post_form" method="post" action=""
      enctype="multipart/form-data">


{#    {% for hidden in postForm.hidden_fields %}#}
{#        {{ hidden }}#}
{#    {% endfor %}#}

{#    {% for field in postForm %}#}
{#        {{ field }} <br />#}
{#    {% endfor %}#}

    {{ formset.management_form }}
    {% for form in formset %}
        {{ form }}
    {% endfor %}
    {% csrf_token %}

    <input type="submit" name="submit" value="Submit" />
</form>

{%  endblock %}