{% extends 'base.html' %}

{% load static %}

{% load i18n %}

{% block metainfo %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'css/rotate-button.css' %}">
    <script src="{% static 'js/jquery.validate.min.js'%}"></script>
{% endblock %}

{% block content %}
<div class="container container-sign-up-professional-profile-form">
    <form class="sign-up-professional-profile-form" id="professionalProfileForm" method="post" action="{% url 'account_professional_profile_after_signup' %}">
      {% csrf_token %}
        <input id="one" type="radio" class="stages-radio-input" name="stage" checked="checked" />
	    <input id="two" type="radio" class="stages-radio-input" name="stage" />
	    <input id="three" type="radio" class="stages-radio-input" name="stage" />
        <input id="four" type="radio" class="stages-radio-input" name="stage" />
        <input id="five" type="radio" class="stages-radio-input" name="stage" />

        <div class="stages">
		    <label for="one" class="stages-label">1</label>
		    <label for="two" class="stages-label">2</label>
		    <label for="three" class="stages-label">3</label>
            <label for="four" class="stages-label">4</label>
            <label for="five" class="stages-label">5</label>
	    </div>

        <span class="progress"><span></span></span>

        <div class="panels">
            {{ form.errors }}
            {{ form.non_field_errors }}
            <div data-panel="one" id="stage-one">
                <h4>{% trans "Choose License Type" %}</h4>
                <ul id="id_professional_type" class="input-professional-type row">
                    <li class="col-md-4">
                        <label for="id_professional_type_0">
                            <input type="radio"
                                   name="professional_type"
                                   value="CONTRACTOR"
                                   required=""
                                   checked=""
                                   class="input-professional-type"
                                   id="id_professional_type_0"
                            >
                            <figure>
                            <img alt="contractor"
                                 active="{% static 'image/sign-up-info-icon/contractor.png' %}"
                                 inactive="{% static 'image/sign-up-info-icon/contractor-inactive.png' %}"
                                 src="{% static 'image/sign-up-info-icon/contractor.png' %}">
                                <figcaption>Contractor</figcaption>
                            </figure>
                        </label>
                    </li>
                    <li class="col-md-4">
                        <label for="id_professional_type_1">
                            <input type="radio"
                                   name="professional_type"
                                   value="ARCHITECT"
                                   required=""
                                   class="input-professional-type"
                                   id="id_professional_type_1"
                            >
                            <figure>
                                <img alt="architect"
                                     active="{% static 'image/sign-up-info-icon/architect.png' %}"
                                     inactive="{% static 'image/sign-up-info-icon/architect-inactive.png' %}"
                                     src="{% static 'image/sign-up-info-icon/architect-inactive.png' %}">
                                <figcaption>Architect</figcaption>
                            </figure>
                        </label>
                    </li>
                    <li class="col-md-4">
                        <label for="id_professional_type_2">
                            <input type="radio"
                                   name="professional_type"
                                   value="DESIGNER"
                                   required=""
                                   class="input-professional-type"
                                   id="id_professional_type_2"
                            >
                            <figure>
                                <img alt="designer"
                                     active="{% static 'image/sign-up-info-icon/designer.png' %}"
                                     inactive="{% static 'image/sign-up-info-icon/designer-inactive.png' %}"
                                     src="{% static 'image/sign-up-info-icon/designer-inactive.png' %}">
                                <figcaption>Designer</figcaption>
                            </figure>
                        </label>
                    </li>
                </ul>
            </div>
            <div data-panel="two" id="stage-two">
                <h4>{%  trans "Find Your License In Our Database" %}</h4>
                {{ form.license_num }}
            </div>
            <div data-panel="three" id="stage-three">
                <h4>{%  trans "Enter Or Modify Your Company Entity Type" %}</h4>
                </br>
                {% trans "Company Name" %} : {{ form.company_name }} </br></br>
                {% trans "Entity Type" %} : {{ form.entity_type }}
            </div>
            <div data-panel="four" id="stage-four">
                <h4>{%  trans "Enter Or Modify Your Company Field" %}</h4>
                {{ form.professional_subtype }}
            </div>
            <div data-panel="five" id="stage-five">
                <h4>{%  trans "Enter Or Modify Your Company Address" %}</h4>
                {% trans "Street" %}:{{ form.street }} </br></br>
                {% trans "State" %}:{{ form.state }} </br></br>
                {% trans "Zipcode" %}:{{ form.zipcode }} </br>
            </div>
        </div>
        <div class="button-container next-button">
             <div type="submit" id="next" class="button-cube">
                 <div class="front">
                     {% trans "Next" %}
                 </div>
                 <div class="bottom">
                     {% trans "Next" %}
                 </div>
             </div>
        </div>
    </form>
</div>

<script>
    var globalTimeout = null;

//    TODO: add more robusic logic here
    $(function () {
        const rules = {
            professional_type: 'required',
            license_num: {
                required: true,
                number: true
            },
            company_name: 'required',
            entity_type: 'required',
            professional_subtype: 'required',
            street: 'required',
            state: 'required',
            zipcode: {
                required: true,
                number: true
            }
        };

        const messages = {
            professional_type: "Please choose your field",
            license_num: {
                required: "We need your license number",
                number: "Your license number must be a number"
            },
            company_name: "Please specify your company name",
            entity_type: "Please choose your company entity type",
            professional_subtype: "Please choose your professional field",
            street: "Please specify your company street",
            state: "Please specify your company state",
            zipcode: {
                required: "Please specify your company postal code",
                number: "Please enter correct postal code"
            }
        };

        const stageValidator = $('#professionalProfileForm').validate({
            rules: rules,
            messages: messages
        });

        $('#next').click(function(event) {
	        var radioButtons = $('.stages-radio-input');
	        var selectedIndex = radioButtons.index(radioButtons.filter(':checked'));
	        selectedIndex = selectedIndex + 1;
            if (selectedIndex === 1) {
                console.log(stageValidator.form());
                if (stageValidator.form()) {
                    event.preventDefault();
                    $('.stages-radio-input').eq(selectedIndex).prop('checked', true);
                }
            } else if (selectedIndex === 2) {
                console.log(stageValidator.form());
                if (stageValidator.form()) {
                    event.preventDefault();
                    $('.stages-radio-input').eq(selectedIndex).prop('checked', true);
                }
            } else if (selectedIndex === 3) {
                console.log(stageValidator.form());
                if (stageValidator.form()) {
                    event.preventDefault();
                    $('.stages-radio-input').eq(selectedIndex).prop('checked', true);
                }
            } else if (selectedIndex === 4) {
                console.log(stageValidator.form());
                if (stageValidator.form()) {
                    event.preventDefault();
                    $('.stages-radio-input').eq(selectedIndex).prop('checked', true);
                }
            } else if (!stageValidator.form()) {
                event.preventDefault();
                alert("Please complete form");
            } else {

                $('#next').submit();
            }
        });

        $('#id_professional_type').find('label').click(function () {
            $('input[name=professional_type]:checked').parent().find('figure img').attr('src', function () {
                return $(this).attr('active');
            });
            $('input[name=professional_type]:not(:checked)').parent().find('figure img').attr('src', function () {
                return $(this).attr('inactive');
            });
        });

//        TODO: async
        $('#id_license_num').keyup(function () {
            if (globalTimeout != null) {
                clearTimeout(globalTimeout);
            }
            globalTimeout = setTimeout(function () {
                globalTimeout = null;
                const dataToSend = {
                    type: $("input:radio[name='professional_type']:checked").val(),
                    lic: $('#id_license_num').val()
                };
                console.log(JSON.stringify(dataToSend));
                $.ajax({
                    type: "GET",
                    url: "{% url 'account_professional_profile_after_signup' %}",
                    data: dataToSend,
                    dataType: "json"
                }).done(function (data) {
                    $('#id_company_name').val(data['name']);
//                    set entity type field
                    const entityType =data['entity_type'];
                    $(`input[type=radio][value='${entityType}']`).prop('checked', true);
                    $('#id_professional_subtype').val(data['subtype']);
//                    set subtype field
                    data['subtype'].forEach(function (subtype) {
                        $(`input[type=checkbox][value='${subtype}']`).prop('checked', true);
                    });
                    $('#id_street').val(data['street_address']);
                    $('#id_state').val(data['state']);
                    $('#id_zipcode').val(data['postal_code']);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR !== 404)
                        console.warn(`ERROR: ${textStatus}`);
                });
            }, 500)
        });
    });

</script>
{% endblock %}