{% extends 'base.html' %}

{% load staticfiles %}

{% load i18n %}

{% block metainfo %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
<div class="container-sign-up-professional-profile-form">
    <form class="sign-up-professional-profile-form" id="professionalProfileForm" method="post" action="{% url 'account_professional_profile' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">{% trans "Complete" %}</button>
    </form>
</div>
{% endblock %}