{% extends 'base.html' %}


{% block header %}

{% endblock %}

{% block banner %}
    {% include 'search_bar/search_bar.html' %}
{% endblock %}

{% block content %}
    <div class="row">
    {% if contractors.count > 0 %}
        <div class="col-lg-2">
            {% include 'search_sidebar/search_sidebar.html' %}
        </div>
        <div class="col-lg-7">
            <div class="list-group">
            {% for contractor in contractors %}
                {% include 'search_card/search_card.html' %}
            {% endfor %}
            </div>
            <!--TODO: show all pagination numbers-->
            <div class="list-pagination">
                <ul class="pagination">
                    {% if contractors.has_previous %}
                        <li class="page-item">
                            <span class="page-link">
                                <a href="?{{ parameters }}&page={{ contractors.previous_page_number }}">previous</a>
                            </span>
                        </li>
                    {% endif %}
                    <li class="page-item active">
                        <span class="page-link">
                            <!--Page {{ contractors.number }} of {{ contractors.paginator.num_pages }}.-->
                            {{ contractors.number }}
                        </span>
                    </li>
                    {% if contractors.has_next %}
                        <li class="page-item">
                            <span class="page-link">
                                <a href="?{{ parameters }}&page={{ contractors.next_page_number }}&">next</a>
                            </span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="map" id="googleMap" style="width:100%;height:400px;"></div>
        </div>
    {% else %}
    </div>
<!--TODO: change to nearby zipcode in render-->
       <p>No Contractor match your condition</p>
    {% endif %}


<script>
    var map;
    var geocoder;
    var userZipcode = "{{ zipcode }}";
    var contractors = [];

//    contractor: [
//        {
//            'item': Contractor object, geo info in fields
//            'marker': Marker object
//        }
//    ]

    function initMap() {
        //initial a geocoder
        geocoder = new google.maps.Geocoder();

        //initial a map
        var mapProp = {
            //TODO: set to the location of user at first
            center: new google.maps.LatLng(51.508742,-0.120850),
            zoom: 15
        };
        map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

        //set map center
        geocoder.geocode(
            {
                'address': userZipcode,
                'componentRestrictions': {
                    //TODO: add other countries in the future
                    'country': 'US'
                }
            },
            userGeocoderCallBack
        );

        //add markers
        addContractorMarkers(JSON.parse('{{ contractors_json | escapejs }}'));
    }

    function userGeocoderCallBack(results, status) {
        if (status === 'OK') {
            map.setCenter(results[0].geometry.location);
            addUserMarker(results);
        } else {
            console.warn(`Error: ${status}`);
            alert('Fail to access your current location');
        }
    }

    function contractorGeocoderCallBack(results, status, contractor) {
        if (status === 'OK') {
            var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
            });
            contractors.push({ 'item': contractor, 'marker': marker });
            console.log(contractors);
        } else {
            //TODO: add specific ID for contractor fail to get marker
            console.warn(`Error(${status}): Cannot find location for contractor ID: `);
        }
    }

    function addUserMarker(results) {
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
    }

    function addContractorMarkers(contractorList) {
        contractorList.forEach(function (contractor) {
            var address = `${contractor['fields']['Address']} ${contractor['fields']['County']} ${contractor['fields']['State']} ${contractor['fields']['PosCode']}`
            geocoder.geocode({ 'address': address}, function (result, status) {
                contractorGeocoderCallBack(result, status, contractor);
            });
        });
    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&callback=initMap"></script>

{% endblock %}