{% extends "dashboard_base.html" %}

{% load i18n %}

{% block nav-sidebar %}
<nav class="navbar-default navbar-static-side">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                User head image
            </li>
            <li>
                <a href="#">
                    Account Setting
                </a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="#" id="profile">Profile</a>
                    </li>
                    <li>
                        <a href="#" id="password">Password</a>
                    </li>
                    <!--TODO: more attributes go here-->
                </ul>
            </li>
            <li>

            </li>
            <li>

            </li>
        </ul>
    </div>
</nav>

<!--<script>-->
    <!--$(function () {-->
        <!--$('#password').click(function () {-->
            <!--$.ajax(-->
                <!--{-->
                    <!--type: 'GET',-->
                    <!--url: "{% url 'account_change_password' %}",-->

                <!--}-->
            <!--).done(function (ur) {-->
                <!--$("#middle").attr('src',+good);-->
            <!--}).fail(function (jqXHR, textStatus, errorThrown) {-->
                <!--console.warn(`ERROR: ${textStatus}`);-->
            <!--})-->
        <!--})-->
    <!--})-->
<!--</script>-->
{% endblock %}

{% block nav-topbar %}

{% endblock %}

{% block content %}
    <iframe name="password" src="{% url 'account_change_password' %}" id="password-iframe"  scrolling="no" noresize frameborder="0" marginwidth="0" marginheight="0" width="60%" height="60%"></iframe>
{% endblock %}