{#    <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>#}
    <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-block btn-social btn-twitter"
       onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-lg']);">
        <i class="fa fa-twitter fa-2x"> </i> Sign in with Twitter </a>
    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-block btn-social btn-google"
        onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-lg']);">
        <i class="fa fa-google fa-2x"> </i> Sign in with Google </a>
    <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block btn-social btn-facebook"
        onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-lg']);">
        <i class="fa fa-facebook fa-2x"> </i> Sign in with Facebook </a>
{#    <a href="{% url 'social:begin' 'weixin' %}">Login with Weixin</a>#}