{% block content %}



    {% for rv in info_dict.review %}
        <div class="user-review">
            <div class="main-spec">
                {% if rv.is_anonymous == 1 %}
                    Anonymous User
                {% else %}
                    {{ rv.user.first_name }}{{ rv.user.last_name }}
                {% endif %}
                <br/>
                {% if rv.project_cost %}
                    Project Cost: {{ rv.project_cost }}
                {% endif %}
                <br/>
                {% if rv.project_type %}
                    Project Type: {{ rv.project_type }}
                {% endif %}
                <br/>
                {% if rv.project_duration %}
                    Project Duration: {{ rv.project_duration }}
                {% endif %}
                <br/>
                <br/>
                {{ rv.comments }}
                <br/>
                {% for img in rv.photo.all %}
                    <img src="{{ img.img.url }}" title="{{ img.title }}"
                         style="width:50px;height:50px;">
                {% endfor %}
                <hr>
            </div>
            <div class="user-rating" style="position: absolute;top: 0px;right: 0px;">
                {% for r in rv.userrating_set.all %}
                    {{ r.get_rating_type_display }}: {{ r.rating_score }}
                    <br>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}