{% load i18n %}
<div class="row">
    <!--summary-->
    <div id="Summary" class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
        <div id='overview-wrapper' class="text height">
            {#            {% if info_dict.p_lic_num == info_dict.contractor.lic_num %}#}
            {#                <div id="edit_overview" class="hide">#}
            {#                    <form action="" method="post" enctype="multipart/form-data">#}
            {#                        {{ info_dict.overview_form.overview }}#}
            {#                        {% csrf_token %}#}
            {#                        <br/>#}
            {#                        <button type="submit" class="btn btn-hoome" value="overview">{{ Submit }}</button>#}
            {#                    </form>#}
            {#                </div>#}
            {#            {% endif %}#}
            <div id="display_overview">
                {{ info_dict.overview|safe }}
            </div>
        </div>
        <div id="peek" class="link">
            <a id="readmore" class="btn btn-db" style="color:white"> <i class="fa fa-chevron-down "> </i></a>
        </div>
    </div>

    <div id="BasicInfo" class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">{{ Business_Information }}</div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td class="rname">{{ License_num }}:</td>
                        <td>{{ info_dict.contractor.lic_num }}</td>
                    </tr>
                    <tr>
                        <td class="rname"> {{ License_Status }}:</td>
                        <td>{{ info_dict.contractor.lic_status }}</td>
                    </tr>
                    <tr>
                        <td class="rname">{{ License_Type }}:</td>
                        <td>{% for item in info_dict.lic_type %}{{ item }}<br> {% endfor %}</td>
                    </tr>

                    <tr>
                        <td class="rname">{{ Entity }}:</td>
                        <td>{{ info_dict.contractor.entity }}</td>
                    </tr>
                    <tr>
                        <td class="rname">{{ Issued_Date }}:</td>
                        <td>{{ info_dict.contractor.lic_issue_date }}</td>
                    </tr>
                    {% if info_dict.contractor.lic_expire_date %}
                        <tr>
                            <td class="rname">{{ Expiration_Date }}:</td>
                            <td>{{ info_dict.contractor.lic_expire_date }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td class="rname">{{ Bonded }}:</td>
                        <td>{{ info_dict.bond_history.surety_company }}</td>
                    </tr>
                    <tr>
                        <td class="rname">{{ Issued }}:</td>
                        <td>{{ info_dict.wc_history.insur_company }}</td>
                    </tr>
                    <tr>
                        <td class="rname">{{ Address }}:</td>
                        <td>{{ info_dict.contractor.street_address }} <br/>
                            {{ info_dict.contractor.csp }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    {#        TODO: add ajax to show more photos#}
    {% if info_dict.project_photos %}
        <!--photo-->
        <div id="photo" class="col-12 col-md-8 col-lg-8" style="position: relative">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="col-md-7 vertical-center">{{ Photo }}</span>
                    <div class="pull-right">
                      <a type="button" class="viewmore btn btn-db btn-sm pull-right vertical-center">{{ View_More }}</a>
                    </div>
                </div>
                <div style="margin-top: 1vh; margin-bottom: 1vh">
                  <label class="switch vertical-center">
                      <input id="edit-photo" type="checkbox" class="off">
                      <span class="slider round"></span>
                  </label>
                  <span class="vertical-center">{% trans 'Edit Photo' %}</span>
                  <button class="hide batch-delete-btn btn btn-danger col-md-offset-8">Delete</button>
                </div>

                <div class="panel-body">
                    <div class="popup-gallery">
                        {% for pic in  info_dict.project_photos %}
                            <div style="text-align:center">
                                <div style="margin: 1vh">
                                  <div class="hide batch-edit-checkbox pretty p-icon p-fill p-tada" style="font-size: 200%">
                                      <input data-id="{{ pic.id }}" type="checkbox" />
                                      <div class="state p-danger">
                                          <i class="icon mdi mdi-close"></i>
                                          <label style="color: rgba(0,0,0,0)">1</label>
                                      </div>
                                  </div>
                                    <a href="{{ pic.img.url }}" title="{{ pic.title }}">
                                        <img src="{{ pic.img.url }}">
                                    </a>
                                </div>
                                {#                            TODO: problem here#}
                                {% csrf_token %}
                                <button class="hide btn btn-danger delete-photo-btn" data-id="{{ pic.id }}"
                                        data-title="{{ pic.title }}">Remove X
                                </button>
                            </div>

                            {#    style="height:50%;width:50%"#}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if info_dict.review %}
        <!--basic information-->
        {#        TODO: add ajax to show more photos#}
        <div id="Review" class="col-12 col-md-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>{{ Review }}</span>
                    <a type="button" class="viewmore btn btn-db btn-sm pull-right">{{ View_More }}</a>
                </div>
                <div class="panel-body">
                    <div class="review-row">
                        {% for rv in info_dict.review %}
                            <div class="user-review">
                                <div class="main-spec">
                                    {% if rv.is_anonymous == 1 %}
                                        {{ Anonymous_User }}
                                    {% else %}
                                        {{ rv.user.first_name }}{{ rv.user.last_name }}
                                    {% endif %}
                                    <br/>
                                    {% if rv.project_cost %}
                                        {{ Project_Cost }}: {{ rv.project_cost }}
                                    {% endif %}
                                    <br/>
                                    {% if rv.project_type %}
                                        {{ Project_Type }}: {{ rv.get_project_type_display }}
                                    {% endif %}
                                    <br/>
                                    {% if rv.project_duration %}
                                        {{ Project_Duration }}: {{ rv.project_duration }}
                                    {% endif %}
                                    <br/>
                                    <br/>
                                    {{ rv.comments }}
                                    <br/>

                                    <div class="popup-gallery-{{ forloop.counter }}">
                                        {% if rv.photo.all %}
                                            {% for img in rv.photo.all %}
                                                <div>
                                                    <a href="{{ img.img.url }}" title="{{ img.title }}">
                                                        <img src="{{ img.img.url }}" title="{{ img.title }}"
                                                             style="width:50px;height:50px;">
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <hr>
                                </div>
                                <div class="user-rating">
                                    {% for r in rv.userrating_set.all %}
                                        {% if r.get_rating_type_display == 'Efficiency' %}
                                            {{ Efficiency }} : {{ r.rating_score }}
                                        {% elif r.get_rating_type_display == 'Quality' %}
                                            {{ Quality }} : {{ r.rating_score }}
                                        {% elif r.get_rating_type_display == 'Length' %}
                                            {{ Length }} : {{ r.rating_score }}
                                        {% endif %}
                                        <br>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

<script>
    $("img.lazyload").lazyload();
    $(document).ready(function () {
        $("#edit-photo").click(function () {
            if ($("#edit-photo").prop("checked") === true) {
                $('.batch-edit-checkbox').removeClass('hide');
                $('.batch-delete-btn').removeClass('hide');
            } else {
                $('.batch-edit-checkbox').addClass('hide');
                $('.batch-delete-btn').addClass('hide');
            }
        });
        $(".batch-delete-btn").click(function () {
            var len = $("div.batch-edit-checkbox > input:checked").length;
            console.log(len)
            $("div.batch-edit-checkbox > input:checked").each(function(index){
              var id = $(this).data("id");
              console.log(id);
              const formData = {"id" : id};
                          $.ajax({
                              type: "POST",
                              beforeSend: function (request) {
                                  request.setRequestHeader("X-CSRFToken", getCookie("csrftoken"))
                              },
                              url: "{% url 'contractor_delete_photo' info_dict.contractor.lic_num %}",
                              data: JSON.stringify(formData),
                              contentType: "application/json;charset=UTF-8",
              {#                dataType: "application/json",#}
                          })
                              .done(function (result) {
                                  if(index == len - 1){
                                  location.reload();
                                  alert("Photo has been successfully deleted.");
                                  console.log(result);
                                }
                              });
            })
//             var id = $(this).data("id");
//             console.log(id);
//             const formData = {"id" : id};
//             $.ajax({
//                 type: "POST",
//                 beforeSend: function (request) {
//                     request.setRequestHeader("X-CSRFToken", getCookie("csrftoken"))
//                 },
//                 url: "{% url 'contractor_delete_photo' info_dict.contractor.lic_num %}",
//                 data: JSON.stringify(formData),
//                 contentType: "application/json;charset=UTF-8",
// {#                dataType: "application/json",#}
//             })
//                 .done(function (result) {
//                     location.reload();
//                     alert("Photo has been successfully deleted.");
//                     console.log(result);
//                 });
        });
    })
    {#$(".delete-photo-btn").click(function(){#}
    {#  var id = $(this).data("id");#}
    {#  console.log(id);#}
    {#  $.post("contractor_delete_photo", {id: id}, function(data){#}
    {#    alert("Photo has been successfully deleted.");#}
    {#    console.log(data);#}
    {#  })#}
</script>
